[2016-04-11 12:31] pasqLisena opened #1 "Project folder"
Hi @manowb ,
I try to write some details on the project modifications.

1. As I said you, we added a [gitignore](https://github.com/DOREMUS-ANR/marc2rdf/blob/master/.gitignore). Maybe it is too strict: keeping the original `.classpath` and `.project` files solves the installation issues that I was talking about last friday. So in next commit, we are going to restore these files. However, we agree

[2016-04-11 13:21] manowb commented on #1
Hi @pasqLisena,

Thank you for the explanation about the project modifications. It is OK for gitignore. and for your suggestion about restructuring the directories.

I don't know why there are two folders "Data" and "data". In my eclipse project there is only one.

Is it OK for you if I make now another commit to resolve it and integrate suggestions?

Of course, we can use GitHub issues to communi

[2016-04-11 13:28] pasqLisena commented on #1
Yes, in mine too. I think that when pulling in local, git solves the path, automatically.

Yes, of course. We will wait for that. :smile:

Very good. Soon @fernanev will contact you.

Thank you very much. I'm available for any problem or doubt

[2016-04-11 14:49] pasqLisena commented on #1
With my last commits, I have:
- removed the `Data`, moving all their files in `data`. Please everyone, check if also locally you have the correct name; if not, manually correct it.
- solved 1.

I am going to close the suggestion branch. The master branch could be now the starting point for any future editing. :+1:

Thank you

[2016-04-11 14:49] #1 closed

[2016-04-12 08:45] fernanev opened #2 "Directory chooser"
Add little interface to be able to select the directory where the files to convert are.

[2016-04-12 08:47] #2 closed

[2016-04-12 09:17] fernanev opened #3 ""date en format machine""
The "date en format machine" in the Expression Creation (line 35 of the .xlsx file) is not converted in the same way as is written in the .xlsx file (version 26 Janvier).

[2016-04-12 09:18] #3 closed

[2016-04-14 15:18] fernanev opened #4 "Data with apostrophe '"
In the xml files, some data have apostrophe, and the ContentHandler doesn't save all the string, it split it each time it finds one. As it is written the function [`characters`](https://github.com/DOREMUS-ANR/marc2rdf/blob/master/src/org/doremus/marc2rdf/bnfparser/MarcXmlHandler.java#L95) if one part of the data is splitted, it will not enter again to append the other parts because bDATA is not tr

[2016-04-14 15:31] manowb commented on #4
Hi Eva,

Thank you for the remark.  Could you give me an example, please, of a value that the program doesn't retrieve and split it?

Thank you again ...

[2016-04-14 15:42] pasqLisena commented on #4
I anticipate Eva with "Il Ritorno d'Ulisse in patria":

- input https://drive.google.com/file/d/0B5aAYp6pCokXWllGWkhMT1A5UDg/view?usp=sharing
`<subfield code="a" Barre="3">Il ritorno d&apos;Ulisse in patria</subfield>`

- output: https://drive.google.com/file/d/0B5aAYp6pCokXcEQxbFNPYkdKSGM/view?usp=sharing
`      cidoc-crm:P102_has_title
              "Il ritorno d" ;
`

[2016-04-14 16:00] manowb commented on #4
Thank you Pasquale for your reply. I just checked and it is an encoding problem:

- In the source file (when I downloaded it) "Il Ritorno d'Ulisse in patria" is written like this "Il ritorno d&apos;Ulisse in patria" and effectively the program split it and give us just "Il ritorno d".

- I tried to modify in the same file "Il ritorno d&apos;Ulisse in patria" with "Il Ritorno d'Ulisse in patria" an

[2016-04-14 16:03] manowb commented on #4
Thank you Pasquale for your reply. I just checked and it is an encoding problem:

In the source file (when I downloaded it) "Il Ritorno d'Ulisse in patria" is written like this
<img width="503" alt="sans titr" src="https://cloud.githubusercontent.com/assets/5494373/14534825/250e1008-026b-11e6-816c-ff86c562a4c1.png">
 and effectively the program split it and give us just "Il ritorno d".

I tried to

[2016-04-15 07:23] pasqLisena commented on #4
Yes, I see. However, I have taken these files from the [Google Drive folder](https://drive.google.com/drive/folders/0B5aAYp6pCokXUm14dk12TEpaSDA), so I imagine that our source files will be in that format, will they be not? If it is so, we should support them.

[2016-04-19 15:00] manowb commented on #4
Hi @pasqLisena @fernanev ,

Sorry for the deley, I was busy :/ ....... To answer your question, yes, the source files are in that format. I think that it would be better if the converter takes into account the different encoding forms. So, my question is : Is Eva's proposal transforms "&apos;" in an "apostrophe"? Do we have "Il ritorno d'Ulisse in patria" or "Il ritorno dUlisse in patria" (without

[2016-04-19 15:01] manowb commented on #4
Hi @pasqLisena @fernanev ,

Sorry for the deley, I was busy :/ ....... To answer your question, yes, the source files are in that format. I think that it would be better if the converter takes into account the different encoding forms. So, my question is : Is Eva's proposal transforms "& a p o s ;" in an "apostrophe"? Do we have "Il ritorno d'Ulisse in patria" or "Il ritorno dUlisse in patria" (wi

[2016-04-19 15:12] fernanev commented on #4
Hi @manowb ,

With that change we get "Il ritorno d'Ulisse in patria", with apostrophe.

If it is ok for you, I will modify the code :)

[2016-04-19 15:16] manowb commented on #4
Ok @fernanev you can modify it .... Thank you again :)

[2016-04-20 08:17] #4 closed

[2016-05-23 08:14] pasqLisena opened #5 "Using the same Java class when instantiation the first vs the other performance plans"
Eclipse mark errors for missing classes in the project:

- [ ] For `F25_AutrePerformancePlan` and `F31_AutrePerformance`
in [BNF2RDF.java] (https://github.com/DOREMUS-ANR/marc2rdf/blob/master/src/org/doremus/marc2rdf/bnfconverter/BNF2RDF.java#L62 ) (this is maybe a typo and we can simply replace the classes with `F25_PerformancePlan` and `F31_Performance`)
- [x] For `F24_PublicationExpression` and

[2016-05-23 09:07] pierrechoffe commented on #5
Hi Pasquale,
yes for the first error this is a typo and you can quietly replace the classes with F25_PerformancePlan and F31_Performance.
For the second one, I don't understand because F24, F19 and F30 are in the committed FRBRoo_V2.4_Biblissima file. The only thing I can see is that the spelling is different (underscore instead of camel case) but then it would be the same problem for all classes.

[2016-05-23 09:16] pasqLisena commented on #5
@pierrechoffe maybe there is a bit of confusion. Marc2RDF is not automatically linked to the ontology repo.

[2016-05-23 09:22] manowb commented on #5
Hi @pasqLisena, @pierrechoffe

I confirm what Pierre said :)

@pierrechoffe : F25_PerformancePlan, F31_Performance and so on are just the name of the java classes. If you check in each class, you will find that the composed name is bounded with an underscore ("Publication_Expression", etc.).

[2016-05-23 09:32] pasqLisena commented on #5
Ok I realise now that my Eclipse was not synchronising well the files (sorry).

So actually, no class is missing. But what is the purpose of `F25_AutrePerformancePlan` and `F31_AutrePerformance`?

[2016-05-23 09:55] manowb commented on #5
Yes, no class is missing but @pierrechoffe I didn't understand why we have to replace the classes with F25_PerformancePlan and F31_Performance. The purpose of F25_AutrePerformancePlan (whose name is Performance_Plan) and F31_AutrePerformance (whose name is Performance) is to identify the first performance of the work (other than first). For example, the first french creation.

[2016-05-23 11:40] pierrechoffe commented on #5
@manowb @pasqLisena well these classes (AutrePerformance and AutrePerformancePlan) do not exist and if they did they could not have the same identifier (F31 or F25), so if I understand well you need to differentiate a "first performance of a work" from another. But this is done through the U5_had_premiere property (F14 u5 F31), not via a class.The same is true for the first publication of a work,

[2016-05-23 13:51] pasqLisena commented on #5
No misleadings in documents, we are talking of different things (java classes vs ontology classes) 😅 Try to write it differently:

AutrePerformance and AutrePerformancePlan do not exist in the ontology (we all agree on this).

In MARC2RDF project there are 2 **Java classes** named `F25_AutrePerformancePlan` and `F31_AutrePerformance` (plus the equivalent ones for PP), pretty similar to the not "Au

[2016-05-23 14:18] pierrechoffe commented on #5
@pasqLisena @manowb the classes are strictly the same and I would assume you can use the same java class for both (although i don't know what the difference is between java/ontology classes and why there should/may be any difference).
The only difference is the context. The first performance ("premiere") is an F31_Performance as any other, except that it is the first. There is an F25_Performance_P

[2016-05-24 08:43] pasqLisena opened #6 "InterMARC with 2 <record>: are they 2 distinct Work?"
There are some InterMARC form BNF with nested record tags at different level (see https://www.dropbox.com/s/czjdndjlhdc72it/39578699.xml?dl=0 and search for 'record').

There is some code that is not working properly. I will report in this issue all problems related to it.

- [ ] Retrieving the BibilioAgency (I committed a workaround for this, but should be fixed) [F40_IdentifierAssignment.java#L7

[2016-05-24 09:27] pasqLisena opened #7 "Folder with multiple input files"
When choosing as input a folder in which there are multiple .xml, properties becomes cumulative.

Example:
 - file1 --> mus:U11_has_key Sol majeur
 - file2 --> mus:U11_has_key [Re majeur, Sol majeur]
 - file3 --> mus:U11_has_key [Re majeur, Re majeur, Sol majeur]
etc.

It happens with almost all properties.
Tested with BNF data.

[2016-05-24 12:03] manowb commented on #7
Hi @pasqLisena,

Yes, I noticed this before. I fix it and I'll let you know :)

[2016-05-24 12:09] manowb commented on #6
Hi @pasqLisena,

I didn't understand, what's wrong with the retrievement of the bibliographic agency ?

[2016-05-24 12:39] pasqLisena commented on #6
I found it by printing the variable `agence` when parsing the file i linked in the first comment.

### what it was
The program correctly found the value 'FRBNF', but twice. The reason is that that value is specified for both the main record and the child one (search in the document the 2 `tag="001"`). So the second value was appended to the first one, resulting `FRBNFFRBNF` and failing the `if` at

[2016-05-24 12:42] manowb opened #8 "Same URI in all RDF files"
I noticed that when converting several MARCXML files, the prototype generates the same URI for each class (F22, etc.) in all RDF files. This is caused because all classes in the project are static. I will fix it too :)

[2016-05-24 12:59] manowb commented on #6
Oh OK I understand now and I agree with you :) .... I have not noticed this before. Now, we have to see with @pierrechoffe : do we consider these two records as two works? if that's the case, I suggest that we separate these two records and we convert them independently ...

What do you think ?

[2016-05-24 14:23] #8 closed

[2016-05-24 16:54] pierrechoffe commented on #6
@manowb hi, this is a tricky one. First, this record is a bibliographic record, not an authority record. It describes a work by an Italian composer that was copied by a French composer. The same document also contains the copy of another work, therefore there are 2 records.
So yes, these two records are definitely two different works. If you want more information, and also if you need to know whet

[2016-05-25 07:35] pasqLisena commented on #6
Separate and convert independently seems the best option.

[2016-05-25 13:54] pasqLisena commented on #7
@manowb It seems you fixed it, am I wrong? The result seems good now 😄

(except when there are multiple records as in #6 but this is another story)

Can we close this issue?

[2016-05-26 16:04] pasqLisena opened #9 "Introduce a package manager to manage dependencies"
As it is natural, this project relies on some [third-parts dependencies](https://github.com/DOREMUS-ANR/marc2rdf#dependencies). This dependencies are currently committed in the [jars folder](../tree/master/jars). So that, for adding a new dependency, we need to download the jar, add it to the _jars_ folder and manually add it as dependency (with Eclipse wizard or writing it in the classpath).

A b

[2016-05-29 17:18] manowb commented on #9
Hi @pasqLisena,

I totally agree with you especially if there is a way to clean up the code and to facilitate the installation of the tool.

I don't know Gradle so yes thank you to do it :)

[2016-05-29 17:22] manowb commented on #7
Yes, @pasqLisena I fixed this issue and consequently the management of different UUIDs. I close it now :)

[2016-05-29 17:22] #7 closed

[2016-05-29 17:32] manowb commented on #6
Hi @pasqLisena,

Yes, to do it, I suggest, before starting the conversion, to parse the file and then to convert each record separately. I can do it ... Just let me know ^^

[2016-05-29 17:41] manowb commented on #5
Hi @pierrechoffe @pasqLisena ,

So, we can keep the same class for both but I assume that they must have different URIs (to make clear to which class the u5 property will point) ...

[2016-05-29 20:02] rtroncy commented on #8
Thanks @manowb for fixing this issue. Think to include the commit id when closing an issue for better tracking the evolution of the source code. You can simply reference the issue number when writing your commit message and Github will magically make the link

[2016-05-29 20:04] rtroncy commented on #9
+1 as well. Assigning @pasqLisena to implement it.

[2016-05-29 20:08] rtroncy commented on #6
I just assigned it to you @manowb

[2016-05-29 20:12] rtroncy commented on #5
There will be two different instances (thus 2 URIs) of the same Java class. I believe you can factorize your code @manowb.

[2016-05-30 09:02] #9 closed

[2016-05-30 09:20] pasqLisena commented on #9
Done, only 2 libraries remained in the `libs` folder (virtuoso drivers).

I suggest you to re-import the project in Eclipse (as in the [tutorial](http://www.vogella.com/tutorials/EclipseGradle/article.html), paragraphs 1 and 4). Then choose the task `run` from the Gradle tab (on the bottom).

I am available for any issue.

[2016-05-31 16:14] pasqLisena opened #10 "Improvements on genres vocabulary matching"
How it is working now:

1. Search for a genre code in the MARC file  ( F22_SelfContainedExpression.java ), e.g. ```mld```
2. Find the match in [GenresBNF.xlsx](../blob/master/src/main/resources/GenresBNF.xlsx), e.g. ```melodie@fr```
3. Add temporary the property ```U12_has_genre``` with the literal as value
4. After the RDF creation, the "string2uri" part searches for the literal string in the [vo

[2016-06-01 06:38] rtroncy commented on #10
Thanks @pasqLisena for this great summary. I have slightly edited your issue for better readibility in github. I have tagged @marie-ototoi for the last question (we need a IAML expert :-).

Regarding the bulk of the issue, +1 for the proposal ... we should NOT go via [GenresBNF.xlsx](https://github.com/DOREMUS-ANR/marc2rdf/blob/master/src/main/resources/GenresBNF.xlsx) and we should directly assig

[2016-06-01 07:05] pierrechoffe commented on #10
@pasqLisena @marie-ototoi
thanks for this !
uu and zz have different labels, but very often they are used for the same "idea" i.e. "i don't know how to categorize this work". Therefore I suggest they could be merged, and they also are (more or less) equivalent to "non renseigné". They are used a lot for contemporary music because genres can be somewhat fuzzy.
regarding operetta : this one is opt a

[2016-06-01 07:11] rtroncy commented on #10
@pierrechoffe: nobody has suggested to merge ```operetta```. @pasqLisena was just mentioning that this is a label that you can find for two different codes: ```opt``` and ```ops```. Are you saying that one of this label is wrong?

@pierrechoffe: am I understanding well that you propose to have 1 unique code (and what will be the code and the labels?) that merges: ```uu```, ```zz``` and ```non rens

[2016-06-01 08:29] pasqLisena commented on #10
Answering questions:

Yes, I can do it.

The generation of our SKOS has been made by @fernanev. She merged three sources ( [GenresBNF.xlsx](../blob/master/src/main/resources/GenresBNF.xlsx), [GenresIAML.xlsx](../blob/master/src/main/resources/genresIAML.xlsx) and the [AIBM genres table](http://www.urfm.braidense.it/risorse/forme_query_en.php) ).
It does not contain MORE then 1 code for each MARC g

[2016-06-01 08:34] rtroncy commented on #10
An hypothetic example would be to have ```mld``` as a valid code and ```mldb``` or ```amld``` as another code where a code string could be substring of another code string. Can this happen? Or is the code always represented with 3 characters?

[2016-06-01 08:57] pasqLisena commented on #10
The code are represented with 3 characters (`syc`	 = `symphonie concertante`) or with 2 characters and a `#` (`sy#` = `symphony`). The latter seems to be a superset of the former, but I am not sure that it is for every case (if it is so, we can add the SKOS `narrower`\`broader` properties).

Sometimes, the MARC contains only the first 2 character (`sy`) and the `#` is added by our application, acc

[2016-06-01 09:09] rtroncy commented on #10
@marie-ototoi @pierrechoffe Given that you're our designated experts in parsing IAML codes, can you confirm that we will systematically have a hierarchical relationship when a 3 characters codes extend a 2 characters code (like in the ```sy``` and ```syc``` example) that we should materialize with a ```skos:broader``` / ```skos:narrower``` relationship?

[2016-06-02 09:00] pasqLisena commented on #10
I just committed a fix.

**What happens now** (waiting for different instructions in case):

1. BNF Converter (MARC file contains codes)
 - Referencing is made **matching codes** (the one in the MARC and the one in the vocabulary). According to test on _Thematic Corpus_, every code match one Concept in vocabulary.
 - `uu` and `zz` are matched to the corresponding properties in the vocabulary (so,

[2016-06-02 09:22] pasqLisena opened #11 "Incomplete label on MARC parsing"
I am parsing this file from Philarmonie:
https://drive.google.com/file/d/0ByLy_xr6iMAYb2NHaW5LcFdYQUE/view?usp=sharing

**The genre `Poème symphonique` is parsed as `Po`.**
Other strings with diacritic seem to have no problems (e.g. the description, that contains 'poème symphonique' too, is correctly parsed).

You can see it by adding a

    System.out.println(field);

in [PF22_SelfContainedExpres

[2016-06-02 13:33] rtroncy commented on #10
Excellent! So can this issue be closed?

[2016-06-02 13:38] rtroncy commented on #11
The string ```Poème``` is present twice in this XML record: lines 70 and lines 123. This file seems to be properly encoded in UTF-8. Does the parsing have problem in both cases? Is the XML parser being used correctly set to parse UTF-8 documents?

[2016-06-02 14:41] pasqLisena commented on #11
Weirdly not. This is the output file that you obtain:
https://drive.google.com/file/d/0ByLy_xr6iMAYSHpQVDFvN3cxZXM/view?usp=sharing
 - L70 (genre) is wrongly mapped as "po" in L41
 - L123 (note) is keep correctly as "poème" in L52

[2016-06-02 14:44] pasqLisena commented on #10
I think there are still unanswered question (at least [this](#issuecomment-222936109)).

[2016-06-02 15:44] rtroncy commented on #11
This is indeed very mysterious. Do we have other examples where there is a problem too? Can we try to re-encode the '0788075.xml' in case it contains some non-printable characters?

Regarding the RDF output, why do we have:
[code]
instead of:
[code]

[2016-06-02 15:45] rtroncy commented on #10
Correct, waiting for the answer from @marie-ototoi or @pierrechoffe then

[2016-06-03 07:42] pasqLisena commented on #11
We have not that label in vocabulary (I put the same example in [this comment](10#issuecomment-223235017) ).

[2016-06-03 07:59] rtroncy commented on #11
I see! This is because we have not yet processed the genre controlled vocabularies used by the Philharmonie, nor integrated it with our main genre SKOS thesaurus.
@marie-ototoi Can you please help us and let us know what is the controlled vocabulary you're using for the musical genre at the Philharmonie?

[2016-06-05 15:58] pierrechoffe commented on #10
Hi everyone,
Q1 @rtroncy : can you confirm that we will systematically have a hierarchical relationship when a 3 characters codes extend a 2 characters code (like in the sy and syc example) that we should materialize with a skos:broader / skos:narrower relationship?
A1 : no, at least in the BnF genres there is no _systematical_ hierarchical relationship. You might have e.g. sy (symphony), syc (sym

[2016-06-05 16:06] rtroncy commented on #10
I have re-edited your comment @pierrechoffe to be markdown friendly.
In Q1, there are two sub-questions: a) is there some hierarchy between the genres? b) assuming there is one, how can we infer it? You're saying that we cannot infer it based on the usage of a 2 letters code vs 3 letters code. What other means do we have?
In Q3, "non renseigné" might be the best label ```@fr``` not in ```@en```. W

[2016-06-05 16:24] pierrechoffe commented on #10
@rtroncy Q3 : sure we should also have an @en label. And sure enough, we should take into consideration the usage of all 3 institutions.
Q1 : a) yes, there is a hierarchy between genres but b) you cannot infer it from the usage of the 2 letters code. There are many exceptions of different kinds. I would suggest that this be done manually. My list of BnF genres has 259 names (300 if we take less fr

[2016-06-05 19:23] rtroncy commented on #10
OK, let's first gather the genre controlled vocabularies from all institutions in order to have a first reconciled version and let's add more structural relationships afterwards

[2016-06-06 12:07] pasqLisena commented on #10
@pierrechoffe It make sense. Just to help you in your checking process: we took the codes/labels from [this database](http://www.urfm.braidense.it/risorse/forme_query_en.php), that we found linked on the [IAML site](http://www.iaml.info/unimarc-field-128-musical-forms).

[2016-06-10 09:09] fernanev opened #12 "Empty blank nodes"
When the tool converts the Philharmonie TUMs, it duplicates the property `mus:U17_has_opus_statement` if the tag `444p` does not exist in the MARC file.
This could be because in [the code](https://github.com/DOREMUS-ANR/marc2rdf/blob/master/src/main/java/org/doremus/marc2rdf/ppconverter/PF22_SelfContainedExpression.java#L92) it doesn't check if it is empty or not:
[code]

That gives as consequence

[2016-06-10 15:11] pierrechoffe commented on #10
@pasqLisena @rtroncy So, I checked on the URFM site and I found this operetta in ops. Actually, this is a "local" adaptation of AIBM (making the arguable assumption that the operetta genre changed between 18th and 19th century).
Since we are aligned on AIBM and not URFM, Frédéric Puyrenier thinks that we could as well consider that operetta is opt and NOT ops.
You may also have an "operetta dramma

[2016-06-10 16:46] pasqLisena commented on #10
Solved in the other repo. I close this issue.

[2016-06-10 16:46] #10 closed

[2016-06-11 10:31] rtroncy commented on #10
Indeed, discussions are ongoing in the [Knowledge Base repository](https://github.com/DOREMUS-ANR/knowledge-base/).
@pierrechoffe, our starting point was the IAML genre list, and not the URFM one, so I'm puzzled.

[2016-06-11 12:46] pierrechoffe commented on #10
As I understand it URFM database was used to access musical forms (see Pasquale message : @pierrechoffe <https://github.com/pierrechoffe> It make sense. Just to help you in your checking process: we took the codes/labels fromthis database <http://www.urfm.braidense.it/risorse/forme_query_en.php>, that we found linked on the IAML site <http://www.iaml.info/unimarc-field-128-musical-forms>.) .
Indee

[2016-06-14 07:39] fernanev opened #13 "Should all nodes in the RDF graph be typed?"
- [x] **1. BNF and PP Converters**
Should all blank nodes have RDF type? Some of them still doesn't have, for example:
[code]

- [x] **2. BNF Converter**

F22_Self_Contained_Expression has two RDF types for example:
[code]
Should `mus:...` be removed?

- [x] **3. PP Converter**
When specifying the RDF type of Denomination Controlled Acces Point, we could do it more readable converting this:
[code]

[2016-06-14 08:11] rtroncy commented on #13
Part 1: blank nodes should be avoided in the first place, and they MUST be typed, so indeed, a type should be added.

Part 2: this was clearly a mistake, thanks for the fix @pasqLisena

Part 3: I agree @fernanev

[2016-06-14 09:15] pasqLisena commented on #13
Question related to Part 3.

Our namespace is
 - `http://data.doremus.org/ontology#`, like in the [Protege project](https://github.com/DOREMUS-ANR/doremus-ontology/blob/master/Doremus-v0.1.owl#L12)

or

-  `http://data.doremus.org/ontology/`, like exported currently by marc2rdf?

I introduced the problem 3 because I relied on the protege version, and I have not realized of the presence of the latt

[2016-06-14 09:30] pierrechoffe commented on #13
@fernanev @pasqLisena FYI I created some new properties in order to make relationships clearer when we (erroneously) relied on class names, e.g we had:
[code]
now we would have:
[code]
Same thing for catalogue statement.
Should I update Protégé ?

[2016-06-14 09:34] pasqLisena commented on #13
Yes, please. Thank you.

[2016-06-14 09:59] rtroncy commented on #13
We should privilege the # version for the ontology (not the / version). Can you either fix MARC2RDF or record a new issue?

[2016-06-14 13:54] pasqLisena commented on #13
For Part 1, the type should be added in multiple parts of the code.

My next commit will fix it for keys and genres, but probably will be not enough. Please @fernanev can you list every blank node without type?

[2016-06-14 14:02] pierrechoffe commented on #13
@pasqLisena @fernanev just updated the DOREMUS ontology on Protégé

[2016-06-14 14:07] rtroncy commented on #13
@pierrechoffe Reminder, use the [doremus-ontology](https://github.com/DOREMUS-ANR/doremus-ontology) repository for issues related to the ontology.

[2016-06-14 15:13] #11 closed

[2016-06-14 15:15] pasqLisena commented on #11
The xml reader was splitting in two lines "po" and "ème". I fixed the bad behavior.

[2016-06-14 15:18] fernanev commented on #13
Yes, no problem, I will do that list asap.

[2016-07-21 12:47] pasqLisena opened #14 "Merge BnFParser and PPParser packages"
The packages [BnFParser](https://github.com/DOREMUS-ANR/marc2rdf/tree/master/src/main/java/org/doremus/marc2rdf/bnfparser) and [PPParser](https://github.com/DOREMUS-ANR/marc2rdf/tree/master/src/main/java/org/doremus/marc2rdf/ppparser) contains a lot of duplicate code.

My purpose is to try to put them to an unique central package.

Some classes are exactly duplicated:
- MarcXmlReader
- RecordList

[2016-07-21 13:32] pasqLisena opened #15 "Conversion flow"
What the app do now:
- `for each` Class (Work, Expression, Performance,...)
   - `for each` Property (has_title, has_genre,...)
        - parse the MARC
        - `until` the MARC code for that property is found
             - read the next line
        - compute and save the information

So the MARC file is parsed at each step.

A better flow could be:
- parse the MARC
- `for each` Class (Work, E

[2016-07-22 14:38] pasqLisena commented on #14
Now the parser is unique.

The most difficult class to merge was [MarcXmlHandler](https://github.com/DOREMUS-ANR/marc2rdf/blob/master/src/main/java/org/doremus/marc2rdf/marcparser/MarcXmlHandler.java), because of a difference on tag/field names. I used the [builder approach](http://www.javaworld.com/article/2074938/core-java/too-many-parameters-in-java-methods-part-3-builder-pattern.html) , so tha

[2016-07-22 14:38] #14 closed

[2016-07-26 09:32] pasqLisena opened #16 "random generation of UUIDs in resource URIs"
UUIDs for resources URIs are generated randomly.

Should we try to generate them in a **deterministic** way?
E.g. I am thinking about a combination of source institution, filename, a progressive numeric id inside the file.

[2016-07-26 09:33] pasqLisena commented on #16
sub-question:
How generate a deterministic UUID from a (string) parameter?

[2016-07-26 09:53] rtroncy commented on #16
We should indeed not generate completely random UUIDs. The best is to SHA-1 a seed, this is what we do in 3cixty. More precisely, we use the following [piece of code](https://gist.github.com/giusepperizzo/630d32cc473069497ac1). The question, therefore, is what should we use as seed. Given that each record from each institution has probably an internal ID, I would suggest to use as see a concatenat

[2016-08-03 12:06] pasqLisena commented on #12
solved with previous commits

[2016-08-03 12:06] #12 closed

[2016-08-03 12:18] #6 closed

[2016-08-03 12:19] #13 closed

[2016-08-03 15:19] pasqLisena commented on #16
So, yes, each record has one identifier that is unique.
What do you mean with "the database name"? It is "bnf" and "pp" or maybe "data.doremus.org"?

Moreover, we must be sure that one record represent only 1 instance for each class. I think is true for Work, Expression, ... But what about Performance? How many performance are described in a record? we should check...

[2016-08-04 06:37] rtroncy commented on #16
The uniqueness of the id is local to the database it comes from. By database name, I meant the exact 5 names we have in [this hierarchy](https://github.com/DOREMUS-ANR/knowledge-base/tree/master/data), there is 1 database from BnF, 1 from Philharmonie and 3 from Radio France.

Good question regarding the number of performances potentially described in a record. @marie-ototoi @pierrechoffe can you

[2016-08-04 08:05] pasqLisena opened #17 "[PPconverter] Define relation between record and TUM"
When a file from Philharmonie is parsed, the related TUM is searched, parsed and converted also. (this is not happening if the file is already a TUM). As result, the output consists in 2 Expressions, 2 Works, etc.

An example (it is a summary):

[code]

The two instances are talking about the same thing but they have no connection between them.

Should we add a link (like put them under the same C

[2016-08-04 09:05] rtroncy commented on #17
I don't understand why you have created two different F22 in the first place? In which case is this happening? Perhaps you can show this with the original data?

[2016-08-04 09:15] pasqLisena opened #18 "Composer link"
In the mapping rules, the following line appears when we talk about the composer:

[code]

and the examples

[code]

Briefly, it is a numeric code.

We should find:
- [ ] How to save this information?
- [ ] How to use it (is it the parameter for getting the webpage of the artist)?

[2016-08-04 09:25] pasqLisena commented on #17
I try to explain it.

We have 2 types of records from Philarmonie (actually more, but we are parsing only these):
- with code `AIC:14`, that is a TUM (_titres uniformes musicaux_);
- with code `UNI:100`, that is a _notice d'oeuvre_

For the latter, we load the related TUM (the code/filename is specified in a field of the file). So we convert the `UNI:100` and the TUM.

The problem is that the two

[2016-08-04 10:43] rtroncy commented on #17
Examples always help to understand problems :-) So, this is a good question which has been discussed with @marie-ototoi and reported in our  joint [IFLA satellite paper](https://drive.google.com/file/d/0B07-9WSsWiOuaEJzXzZHMEJVaEk/view), read the paragraph under the Table 1. The text describes what are the rules when meeting either a TUM or a work entry.

It is indeed important that the converter

[2016-08-04 13:02] rtroncy commented on #18
There are a lot of things that we need to slowly revisit when we implement the DOREMUS model (and in particular, the FRBRoo part) and the mappings rules need also to be re-worked a bit.

For this particular case, we should have, at the beginning, an instance of the ```F10 Person``` (equivalent to ```E21 Person```) class that will identify, for example, Ludwig van Beethoven. Such an instance is als

[2016-08-04 13:31] pierrechoffe commented on #18
@pasqLisena we should also revisit the mapping rules with the latest of CRM/FRBRoo, in this case E82_Appellation will be deprecated. We will just keep the E41_Appellation and some (tbd) subclasses, such as E42_Identifier.
Is there any reason we should use F10_Person instead of E21_Person?

@rtroncy aaaaah... at last the magic appeared :)))

[2016-08-04 13:49] pasqLisena commented on #17
So I read the IFLA paper and [this summary by PP](https://drive.google.com/open?id=0B_oqgmkXcLOvNHdXUUxPUHpCNlE) that is on Drive.
In particular:

So, the TUM and the UNI100 describe **the same Work/Expression**.

There are some EXCEPTIONS of **UNI100 linked to different TUMs**:

1. Nocturnes de Chopin: il existe un TUM par nocturne mais une notice d'oeuvre par Opus.
2. Ensemble homogène (24 capri

[2016-08-04 14:03] pasqLisena commented on #18
Answering to @pierrechoffe, actually we are using E21_Person.
And the person is directly connected by P131_is_identified_by to a string (so no class E82 is present).

[code]

[2016-08-04 14:09] pierrechoffe commented on #18
@pasqLisena sure, but p131_is_identified_by is a subclass of p1_is_identified_by with a specific range that is E82_Appellation so I assume that if E82_Appellation is deprecated so will p131, therefore it would be better to also change p131 for p1 in our mappings, right ?

[2016-08-04 14:18] pasqLisena commented on #18
@pierrechoffe Yes, you are right.
P.S. where you can check the deprecation of a property/class?

[2016-08-04 14:26] pierrechoffe commented on #18
deprecation might not be the right word since they will still be used by legacy implementations, it's now a recommendation (not to use E82_Appellation). You can find all the changes in the official documentation, the latest version is 6.2.1, the newest will be 6.2.2 with these latest changes. The "editorial notes" with all the amendments, version by version, actually make up half of the documentat

[2016-08-04 14:29] pasqLisena commented on #18
Ok, I am going to change it so :)

[2016-08-04 14:41] pasqLisena opened #19 "Optional group of classes"
Here are the classes that we currently instantiate in marc2rdf:

- [x] **1. Group Work/Expression**
 - F22_SelfContainedExpression
 - F28_ExpressionCreation
 - F14_IndividualWork
 - F15_ComplexWork
 - F42_RepresentativeExpressionAssignment

- [x] **2. Group Publication**
 - F24_PublicationExpression
 - F30_PublicationEvent
 - F19_PublicationWork

- [x] **3. Group Performance**
 - F31_Performance

[2016-08-04 16:51] rtroncy commented on #17
We have <http://data.doremus.org/vocabulary/derivation/14> (label is "Transcription"@fr") in the derivation scheme, so yes, it seems that your UNI100 linked to other UNI100 case is a derivation between F22.

For your point 3, you're asking if multiple versions of a work from the same composer should be considered as a single work or as multiple ones? Can you provide an example of such a case? / cc

[2016-08-04 16:58] rtroncy commented on #18
Hold on, you didn't get my comments. First, it does not matter if we instantiate F10_Person or E21_Person since they are declared as ```owl:equivalentClass```, so an instance of one class is also an instance of the other. I agree to explicitly type those instances as ```rdf:type E21_Person```.

The bulk of my [previous comments](https://github.com/DOREMUS-ANR/marc2rdf/issues/18#issuecomment-237545

[2016-08-04 17:04] rtroncy commented on #19
You made a typo in listing the possibilities in Group 3: you have twice F25 and F31 with different suffix names.

I agree that you should instantiate the classes and properties only when you have the information in the source data, and not systematically.

[2016-08-04 19:33] pierrechoffe commented on #17
A typical case would be most Bruckner symphonies, e.g. symphonie nr.8. They have the same catalogue number but the dates are different. So they are Expressions of the same Work (in the FRBR sense), i.e. their F14_Individual_Work are all R10_members of the same F15_Complex_Work.
So how do we recognize them? Simply by the fact that they have the same composer, same name _and_ same catalogue number,

[2016-08-05 07:08] pasqLisena commented on #19
The typo was in the following note about the refactoring. I edited it now.

[2016-08-05 07:15] rtroncy commented on #19
I don't understand. How can we have:  F31_Performance AND F31_AutrePerformance; F25_PerformancePlan AND F25_AutrePerformancePlan? Same Fxx but different concept?

[2016-08-05 07:29] pasqLisena commented on #19
It should be refactored, there is an issue still open #5 but not yet resolved.

[2016-08-05 08:29] rtroncy commented on #17
Thanks for the example @pierrechoffe. Coming back to the problem at hand, I'm trying to interpret what you're saying and transform into concrete actions (as what an algorithm does). This is what I'm coming with, so please, check and confirm or bring the appropriate corrections:
* The single *notice d'oeuvre* should lead to the instantiation of a F15_Complex_Work
* Each TUM should lead to the insta

[2016-08-05 13:40] #5 closed

[2016-08-05 13:44] pasqLisena commented on #16
Could be 0, 1 or 2 (i.e. the Premiere and the Création française).

[2016-08-05 16:30] pierrechoffe commented on #16
Yep !

[2016-08-05 17:01] pierrechoffe commented on #17
- Each TUM should lead to the instantiation of a F14_Individual_Work

Yes (although each institution has its own way of dealing with this, so we should check with all 3 to be sure)

I am not suggesting anything of this kind : information about the composer should always be attached to an event (since he is the actor) as well as information about the composition date, and all the usual informations

[2016-08-05 17:09] pierrechoffe commented on #18
@pasqLisena **update**: discussions are still rolling regarding the narrowing of appellations to the sole E41_Appellation, so nothing is decided as yet and it will probably take time. But in the end I am pretty sure that E82 will be dropped, so to be on the safe side we should use E41.
Same thing with E50_date, we should not use it.

[2016-08-06 09:15] rtroncy commented on #16
No, we are talking in general. For any record (file) that an institution is providing, how many Work, Expression, Performance, etc. can be described. If we use the record ID to generate the DOREMUS UUID but if 2 different Performance are being described within the same record ID, we will get a collision of UUID. How is this problem solved in the source data if the same record ID refers to descript

[2016-08-06 13:57] pierrechoffe commented on #16
Well this has to be checked in detail with each partner, but just talking about Premiere and Creation Française shows that there may be 2.
If we take an F24_Publication_Expression (described in a notice bibliographique) it could be linked with as many M43_Performed_Expression as there are works performed. Or just one if we create an F31_Performance (global performance) consisting of these M43. For

[2016-08-07 14:42] pasqLisena commented on #16
Sure. But we have an identifier for each of them?if we have, the problem is solved.:)

I don't like this second solution, we loose  a lot of granularity.

[2016-08-07 15:15] pierrechoffe commented on #16
@pasqLisena In order to make things clearer, I created a graphic representation some time ago, you can find it here : https://drive.google.com/drive/folders/0B4s5dBwAmhJsfmZLN3dmVmxMLWxHXzRIcjVvWnJCYTh0cGtESDYxd2JqNmlDMjMzUEs4d1k
This is schema "Cto Vl Paganini & Spohr" it is based on the Variations3 example (on page 12 of : http://www.dlib.indiana.edu/projects/variations3/docs/v3FRBRreport.pdf)
W

[2016-08-07 15:26] pierrechoffe commented on #16
@pasqLisena This said, I reckon I did not answer your question precisely :) In order to be able to do so, we need to list all possible cases, including when our records are very poor. Sometimes you have details, with nice records and subrecords (notices et sous-notices), sometimes you just find horrible things because there was no money at the time to pay people to do the job. We need to check all

[2016-08-07 16:59] rtroncy commented on #18
I disagree. We should not use E41 neither, see my [previous comment](https://github.com/DOREMUS-ANR/marc2rdf/issues/18#issuecomment-237615564)

[2016-08-07 17:19] pierrechoffe commented on #18
Can you give an example, so that I understand precisely what you mean ? I get the general point, but I miss the concrete implementation (and the possible discussion that may follow)

[2016-08-07 17:33] rtroncy commented on #16
@pierrechoffe Indeed, you didn't reply to the original question ... you're discussing the modeling, while the original question is just about how things are identified in the source data so that we understand what basis we should take to generate the DOREMUS UUID. In order to progress, can you simply point us towards the source data that corresponds to the "Cto Vl Paganini & Spohr" example describ

[2016-08-07 17:43] rtroncy commented on #18
The example is provided in the [very first comment of this issue](https://github.com/DOREMUS-ANR/marc2rdf/issues/18#issue-169328040). For the Philharmonie, it is assumed that there is an instance of ```E21_Person``` which could have a DOREMUS UUID based on the 38954 identifier that could have plenty of labels (rdfs and skos), including ```Beethoven, Ludwig van (1770-1827)``` and many others (what

[2016-08-07 17:49] pierrechoffe commented on #16
@rtroncy I cannot point towards the source data since this was not a BnF example, but I can point towards an equivalent one : http://catalogue.bnf.fr/ark:/12148/cb384428371.intermarc
This is a bibliographic record for an EMI recording of 2 Beethoven sonatas, among which our famous "moonlight sonata". You will see in 744$3 that there are links to the F22 that are being performed.
But there are no l

[2016-08-07 17:56] pierrechoffe commented on #18
Ok, this is what I had understood (sometimes you make me feel intelligent) :))
Now, what if we have persons without identifiers? There will be thousands of them, especially when we describe Performances. Will we create Doremus identifiers for everyone ?

[2016-08-07 18:09] rtroncy commented on #18
Yes, this is the ba-ba of RDF. If you want to re-use a resource, you MUST identify it, otherwise, this is leaf in a tree, a resource that would never be the subject of any triple (statement). Minting new URIs is cheap, it costs nothing. So this is not a problem to create too many identifiers, even though afterwards, we may (and probably will) reconcile them with other authoritative sources (VIAF,

[2016-08-07 18:10] pierrechoffe commented on #18
Or, to put it differently, when we have an identifier in the record, we use it. This way we do not use anonymous persons. When we do not have any identifier, (Mr Jean Dupond playing the triangle in the symphony) do we create one?
This, as I understand it, is a local identifier (here, this is just for PP). The same will be true for BnF and for RF. So in the end there will also be an alignment betwe

[2016-08-07 18:10] pierrechoffe commented on #18
cross messages :)

[2016-08-07 18:13] rtroncy commented on #18
We use this source data identifier to mint (or build or create) the DOREMUS identifier (called UUID)

Yes.

Yes and yes.

[2016-08-07 21:22] rtroncy commented on #16
Thanks for bringing a specific example, but here, we will not have the problem of creating colliding UUID, which is what this issue is all about. As you said, this record provide links to two different F22, so we will be able to create two different performance following the same pattern. Furthermore, this record is about a recording, something that is not yet worked on in the mapping table if I'm

[2016-08-07 21:51] rtroncy commented on #17
Thanks for the clarification. Indeed, contextual information (when, where, etc.) are attached to the event.

But maybe I misunderstood what you meant?

Where did you think that the subclass will happen? If at the Work level, then how you would imagine the relationship between the corresponding Expression? This would anyway defeats the purpose of creating a controlled vocabulary for derivation, whi

[2016-08-10 11:35] pasqLisena commented on #16
I am trying to write down what the UUID could be for each of the classes we currently instantiate on marc2rdf.

_N. occ._ is the number of occurrences in a single record.

Class | N. occ. | Parts for UUID
------------ | ------------- | -------------
F22_SelfContainedExpression | 1 | dbName + recordId + classCode
F28_ExpressionCreation | 1 | dbName + recordId + classCode
F14_IndividualWork | 1 | db

[2016-08-10 20:56] rtroncy commented on #16
This looks good, assuming that you ultimately SHA-1 the sum of parts for UUID to actually get the UUID.

[2016-08-11 15:05] #16 closed

[2016-08-11 15:06] pasqLisena commented on #17
I fixed the behavior.

Exceptions are not yet managed.

[2016-08-11 15:09] pasqLisena commented on #19
Closed with [last commit](https://github.com/DOREMUS-ANR/marc2rdf/commit/05592603c5117481c8849de1139d7f130e9a4f55).

[2016-08-11 15:09] #19 closed

[2016-08-19 14:00] pasqLisena opened #20 "Multiple subfields with the same code are not (yet) parsed"
In cases like [this one](https://drive.google.com/drive/folders/0B_nxZpGQv9GKX0JUSVE0cHQ3U2M):

[code]

we currently read only the 1st subfield. This happens because the method `getSubfield(char code)` return only one value.

[2016-08-25 14:05] #20 closed

[2016-08-25 15:52] pasqLisena opened #21 "New URI pattern policy for identifying DOREMUS resources"
Following previous conversation, I try to write out a proposal of pattern for URI.
# Current Pattern

[code]

where the UUID is computed following the rules described in #16 .

Example:

[code]
# Proposal

We think about a simplification of the uri. The new pattern can be:

[code]

The `suffix` is for properties that normally are unique for a certain class

Examples:

[code]

This should be a mapp

[2016-08-25 16:41] pierrechoffe commented on #21
The question is : who should this simplification help and how ?

[2016-08-25 17:14] pasqLisena commented on #21
@pierrechoffe good question.

Some short answers:
- the URIs are shorter;
- the URIs are more easily readable by humans;
- we remove the redundancy Self_Contained_Expression/F22/ (2 levels, only one concept);
- less different values after the first `/` means less rule on the server (and less errors).

I am going to go deeper in [this](http://philarcher.org/diary/2013/uripersistence/)

[2016-08-25 19:16] rtroncy commented on #21
@pierrechoffe This follows the best practices established by numerous agencies (thanks @pasqLisena for mentioning Phil Archer's work) and a good balance between completely opaque URI and fully transparent URI. This sticks better with the REST principles too, so when we will enable an ELDA configuration on top of the data, we could GET the collection ```<http://data.doremus.org/work>``` to get all

[2016-08-26 14:37] rtroncy commented on #21
I have updated the table and I would suggest to drop F40 and F50 for now

[2016-08-26 16:41] pierrechoffe commented on #21
@pasqLisena @rtroncy

But since all expressions are under one global "expression", how would you specifically look for F22 expressions?
Or, to put it differently, how would you diferentiate a notated music expression (Beethoven's Moonlight Sonata) from a performed music expression (Daniel Barenboim's rendering of this sonata)?
NB: we have changes coming in Performances, which now *create performed

[2016-08-27 10:32] rtroncy commented on #21
I cannot comment what I don't see yet in the document. Your comment is about expressions citing something about works which is confusion as well. I have suggested that F31 get a /performance top-level object in the URI. To answer your question, there is no problem to get anything as specific as you want: resources have type, property values, on which you can filter as much as you want. I think you

[2016-08-27 19:47] pasqLisena commented on #21
Should we add a 'resource' before the type?
I mean like `http://data.doremus.org/resource/expression/10430039-5e02-3ec8-bc6b-b433cdde13c7`

See [Phil Archer's work](http://philarcher.org/diary/2013/uripersistence/), par 3.1.1

[2016-08-28 09:42] rtroncy commented on #21
tl;dr: NO

Slightly longer version: Phil's web site seems to be down this morning, but please, let's not start a [httprange-14](https://en.wikipedia.org/wiki/HTTPRange-14) discussion :-) In DOREMUS, it's clear we are in the metadata world and I don't think distinguishing the real-world object (concrete entity) from its description is useful. Similarly, we will probably not follow the guidelines de

[2016-08-28 12:33] marie-ototoi commented on #17
Sorry about replying so late.

On our side : our preferred title + infos about the work are in the work entry (AIC14), and then it links to the TUM - which was usually taken from BnF so it can help for alignment and might contain info which are not in AIC14. In the mapping rules we have detailed for each line where the info should be taken (if AIC or TUM should be preferred or if they should be co

[2016-09-07 13:12] pasqLisena commented on #21
We put `F42_RepresentativeExpressionAssignment` in the `expression` collection, but it is not a derivative of expression, but of event.
Should we change it? @rtroncy

[2016-09-07 15:17] pierrechoffe commented on #21
@pasqLisena @rtroncy

Absolutely, F42 is an event.
F40 is also an event
F50 is an identifier.
Note also that F24 is an expression. If you want to create a category "publication", then F30 and F19 would probably be part of "publication", right?
Actually, the question is : what kind of categories would you like to create? Work, Expression, Event are clearly CRM/FRBRoo oriented. Performance is an eve

[2016-09-07 15:43] pasqLisena opened #22 "[PPconverter] Mapping rules for casting"
In the mapping rules for the Philarmonie, all properties for casting (except a textual `P3 has note`) are marked with

But we are wasting a lot of details that PP has in their data.

### Examples

Here some examples coming from Beethoven and Dutilleux's files.

[code]

### What we can do

- Split the string (commas `,` , the word `et` and brackets `(  )` )
- Clean data (`Editeur : Heugel` should n

[2016-09-07 15:53] pasqLisena commented on #21
Corrected.

About the other questions, I think that the sense is creating logical macro-groups for easy retrieving (basically through ELDA, as @rtroncy commented [some time ago](#issuecomment-242505598)).

**BTW** I am going to commit these modification. If we want to change something after, on the coding-side is a trivial operation.

[2016-09-07 15:58] pasqLisena commented on #21
First export with the new policy:
https://drive.google.com/file/d/0ByLy_xr6iMAYdEhVT2Y0Q0tOOUE/view?usp=sharing

[2016-09-07 16:33] pierrechoffe commented on #17
@rtroncy coming back to you regarding derivations.

attached are two BnF records of "Harold en Italy", the original by Berlioz and the transcription by Liszt.
Also attached the updated version of a document I sent you in May regarding alternative ways of modeling the derivation.

In short :
* The records link to each other
* The TUM of Liszt mentions the derivation type as its first argument : "Tr

[2016-09-07 16:33] rtroncy commented on #21
Thanks @pasqLisena for the implementation. Indeed F42 and F40 are events. I'm ignoring F50 on purpose for now. This needs to be re-designed anyway.

Regarding F24, F30 and F19 ... it really depends if you consider 'publication' to be the process itself or the result of the process. I suggest to keep it like this for the moment, but I know that it will become clearer when we will implement the conv

[2016-09-08 08:00] pasqLisena commented on #17
I think that alt3/4 are the clearer ones. I prefer alt3 because wee keep the R2 properties of FRBRoo.

BTW we are off topic in this issue 😄

[2016-09-19 11:54] rtroncy commented on #17
We are definitively off topic for this issue :smile: !

@pierrechoffe, reflecting on your 4 options:
 * alt2 is invalid ... ```rdfs:domain``` and ```rdfs:range``` are properties that have for domain an ```rdf:Property``` ... not a class!
 * alt3 is simple but what's happen if a F14 has multiple derivations? Can this happen? Furthermore, you don't specify who is saying that a F14 is a derivative of

[2016-09-21 13:26] pasqLisena commented on #17
You are right! A work can be a "Réminiscence"@fr of multiple other ones. For the "Pot-pourri"@fr it happens every time!

Now I have a doubt also on this alternative: what if a Work X is an arrangement of Y realizing by adding some Reminiscence to Z?

I think that the "derivation type" should be a property with Work (or Expression) as domain (so _Uyy has derivation type_

I think it should be at th

[2016-09-21 13:55] pierrechoffe commented on #17
@rtroncy @pasqLisena Yes we will discuss these tomorrow with the group !

Meanwhile:

An F14 may have multiple derivations, but maybe not multiple *derivation types*. We talked about it with Frédéric and Françoise the other day, and although you may sometimes hesitate between 2 types (e.g. transcription and reduction), you will definitely choose one. What may happen is that another institution may

[2016-09-21 14:09] pierrechoffe commented on #22
@marie-ototoi @pasqLisena sorry for this late answer... :) About critical points

Why is it a problem ? the casting detail describes the instruments, not the players. So if we have 3 instruments played by 1 person only, there will be 3 casting details.

The casting detail can represent a group (orchestra, etc.), e.g. if we have a concerto for violin and orchestra (without further details), we have

[2016-09-21 14:21] rtroncy commented on #17
The one you provisionally named ```Uyy_assigned_to```

[2016-09-21 14:25] pierrechoffe commented on #17
Oh, why ? We have an assignment event ("Derivation Type Assignment") which as usual assigns something (the Derivation Type) to something (the F14 Individual Work) and has an actor (the library). What pb do you see ?

[2016-09-21 14:30] pasqLisena commented on #17
Good! Ok, so alt1 could be a valid solution!

I actually was thinking to the derivation type like an "attribute" (like key, genre, casting, etc.). That's why I see it in the reverse direction.

[2016-09-21 14:34] rtroncy commented on #17
@pierrechoffe As usual, try to get the consumer point of view ... you start from a Work and you look for derivations ... your entry point will rarely be a derivation type assignment event.

[2016-09-21 14:41] pierrechoffe commented on #17
OK we will have to talk about this in concrete details (hands-on) :smile:

So if we keep the idea of a Derivation Type Assignment, this means that a property Uyy_was_assigned_derivation_type_by (or shorter!) between F14 and Myy_Derivation_Type_Assignment (in this direction) would be more appropriate, is this what you mean?

[2016-09-21 14:50] pasqLisena commented on #22
Sometimes we have the sheets separated for percussionists (i.e. _Percussion 1_ plays triangle and bass drum, _Percussion 2_ cymbals and tubolar bells, _Percussion 3_ timpani). It apply also to other instruments (i.e. often the 2nd Flute plays the Piccolo for few measures).

I don't know if we have this info in our data. But, in any case, this could not be an information to keep?

Great! This is a

[2016-09-21 15:04] pierrechoffe commented on #22
@pasqLisena

Yes, this is very interesting but maybe we enter too much into details... We had this kind of questions in the beginning of the project, when we thought that the model could help the music library of Radio France for example, but RF said it would raise other problems, so we dropped the idea. As you know, a score may be divided between interpreters, but then you have other parameters t

[2016-09-21 15:09] rtroncy commented on #17
Yes, this is what I mean ... iff we consider that alt1 is the way to go. But we need to come back to the data with real examples to see how derivations will be detected from the MARC data and mapped to the model.

[2016-09-22 15:09] marie-ototoi commented on #22
Nous avions estimé que ce champ n'était pas renseigné de façon assez structurée et systématique pour être exploitable... mais peut-être qu'en le comparant avec le référentiel des MOP on peut ne garder que ce qui matche ?

[2016-09-22 19:08] rtroncy commented on #22
@pasqLisena Would you like to give it a try in the MARC2RDF implementation, and we will manually review what has been extracted for the corpora we have been given (or samples of it)?

[2016-09-27 09:51] pierrechoffe commented on #17
@rtroncy If we go this way (with a "Uyy_was_assigned_derivation_type_by" property), how will you deal with the other E13 Assignments (Identifier Assignment, Representative Expression Assignment, Award Assignment, etc) ? Should we also create specific properties ? including Doremus specific properties for CRM or FRBRoo used in Doremus representations ? Or isn't it better to have a unique solution (

[2016-09-27 13:22] rtroncy commented on #17
@pierrechoffe There is no absolute answer. Again, you have to put yourself as a consumer of the data (one can always traverse the graph as he needs, but we privilege the direction which presumably will be the most used one). In order to progress on this issue, I'm re-iterating my [previous request](https://github.com/DOREMUS-ANR/marc2rdf/issues/17#issuecomment-248642085): let's come back to the **

[2016-09-27 13:26] pierrechoffe commented on #17
Yes we are definitely off-topic, should we open a new issue?

[2016-09-27 13:28] rtroncy commented on #17
Yes.

[2016-09-29 10:59] manowb opened #23 "Problem when converting incomplete dates"
When we have an incomplete date (Ex: 17..), the converter generates the following error :

`java.text.ParseException: Unparseable date: "171201"`

This value does not conform to the date format YYYY-MM-DD

An example of such file is **"14804721.xml"** from BNF :

`<controlfield tag="008">981105101006yy    sn        17..                             1   <Pos Code="0001">98</Pos>`

So, what should we

[2016-09-29 11:26] pierrechoffe commented on #23
@manowb do you have many such errors ?

[2016-09-29 13:02] manowb commented on #23
@pierrechoffe I had this error with the following files (from BNF) :

13914401.xml
13982389.xml
13987317.xml
14804721.xml
15846699.xml
16672703.xml

I have checked only the records from DS1, DS2 and DS3 : [https://drive.google.com/drive/folders/0B5aAYp6pCokXUkF5LTk1RUVOejQ](https://drive.google.com/drive/folders/0B5aAYp6pCokXUkF5LTk1RUVOejQ)

[2016-09-29 13:31] pasqLisena commented on #23
Hello @manowb, I just committed a fix.

Basically I extended the rule we used a bit after in the file ([2nd part of the `if`](https://github.com/DOREMUS-ANR/marc2rdf/commit/e4a4504da2351ae4fbaeba60925798adedd896fe#diff-f03599ac9369bcddc743390f056a7ea4R135)):
- if it is a **start date**, we consider the missing part as the **beginning** of the century/decade.
i.e. 17.. -->  1700 ,  175. --> 1750
-

[2016-09-29 13:48] manowb commented on #23
Hi @pasqLisena , thank you for your commit :)

After running the latest commit, now I have the following error :

`java.text.ParseException: Unparseable date: "91201"`

With the following file : "**13912399.xml**" (from BNF) where there is only "**.**" as an end date :

`<controlfield tag="008">890821120518yy    co        1925      .                      1   <Pos Code="0001">89</Pos>`

[2016-09-29 17:07] FLERESCHE commented on #23
Il me semble que les 4 points indiquant une date non remplie ont été compactés en un seul dans votre application. Il ne faut pas travailler sur la chaîne de caractères de l'ensemble de la zone 008 où des blancs ou des points peuvent être compactés, mais exploiter la décomposition de la zone 008 en InterXmarc dans les différents blocs de positions significatifs : <Pos Code="3841">....</Pos> pour l'

[2016-09-29 17:09] FLERESCHE commented on #23
Pour l'année de date de fin, elle figure dans les positions  Pos Code=3841 dans la décomposition de la zone 008.

[2016-09-29 17:59] rtroncy commented on #23
Merci @FLERESCHE pour les explications. Dans le cas de la notice ["13912399.xml"](https://drive.google.com/file/d/0B07-9WSsWiOuRkJBaVhvZkdpZE0/view), peux tu nous dire quel devrait donc être l'intervale date de début / date de fin ?

[2016-09-30 08:09] pasqLisena commented on #23
It is not exactly the same, but we have this example in the mapping rules.

`008 pos 27-46 = 167.    ?             ` >  `E52 Time-Span P82 at some time within  E61 = 1670    /1679`

Should we replicate this behavior?

Basically this is: copy all the digit from the start date and replace points with `9`.

[2016-09-30 09:25] FLERESCHE commented on #23
Dans le cas de la notice  "13912399.xml", où il n'y a effectivement qu'un point en positions 38-41, il faut considérer que la date de fin est à blanc (assimiler 1 point suivi de 3 blancs à 4 blancs, 2 points suivis de 2 blancs à 4 blancs, etc. jusqu'à 4 points = 4 blancs) et donc qu'il n'y a qu'une date unique (en positions 28-31) et non un intervalle de dates.
Il y a eu des pratiques variables da

[2016-09-30 09:28] FLERESCHE commented on #23
Je me suis mal relue. Lire
En ce qui concerne une date incomplète, avec un point remplaçant le dernier chiffre, ce qui signifie que l'oeuvre a été créée au cours de la décennie, SANS pouvoir donner de dates plus précises, il faut effectivement créer un intervalle de dates et remplacer le point dans la première date par un zéro et dans la seconde date par un 9.
Même règle SI la date se termine par

[2016-09-30 12:35] manowb opened #24 "Bad language tag"
Hello,

When the language is not known (in some cases and mostly for BNF records, it is specified by "**...**") , the converter generates the following error:

`Exception in thread "main" org.apache.jena.riot.RiotException: [line: 40, col: 44] Bad language tag`

The language tag must be well formed (@fr, @en, etc.).

An example of such file is "**13908469.xml**" from BNF:

[code]
So, the points sh

[2016-09-30 13:07] rtroncy commented on #24
In this particular case, the value of the ```ecrm:P102_has_title``` should not be language tagged

[2016-09-30 15:42] manowb opened #25 "Duplicate URIs when converting BNF records"
When converting several records at the same time, the converter generates for each class the same URI for all records.

Note that this appears only on BNF records. The PP records seem well converted (The URIs of all classes for all records are different).

Examples of such files :

- [ ] 13908490.ttl

[code]

- [ ] 13911580.ttl

[code]

[2016-10-01 14:09] rtroncy commented on #25
Ouch, well-spotted @manowb!

@pasqLisena, we do have normally a well-deterministic procedure for properly hashing the id of each resource in the graph. How come that those 2 different expressions get the same UUID? Can you review this part of the code (thinking that the converter might process batch of input files in a multi thread process)

[2016-10-02 20:24] manowb commented on #25
@rtroncy  After having searched on the code what can cause the duplication of UUIDs, I found that in the case of the BNF records, the converter always gave the same UUID for all resources of the same class (For example for **F22**, the UUID is always : **_f35ca6a2-9a1f-3a47-a957-e3abfd8da9be_**)

[This instruction](https://github.com/DOREMUS-ANR/marc2rdf/blob/master/src/main/java/org/doremus/marc2

[2016-10-02 20:43] #25 closed

[2016-10-03 10:24] pasqLisena commented on #23
Summarizing, for "13912399.xml":

    1925 .

Should be mapped with:

    1925 - 1925

Is it correct?

[2016-10-03 10:59] manowb commented on #23
Hi @pasqLisena,

No, I think that according to what @FLERESCHE  said `1925 .` should be mapped only to `1925` --> No interval in this case (we keep only one date).

But, in the case where we have `192.` --> It should be mapped to `1920 - 1929`

[2016-10-03 11:06] pierrechoffe commented on #23
yes (dixit Françoise)

[2016-10-03 12:26] pasqLisena commented on #23
Final explaination: the single point means "until the end of the year".

[2016-10-03 12:28] pierrechoffe commented on #23
please have a look at the spec, but it should be an interval :)

[2016-10-03 12:28] rtroncy commented on #23
Yes, and we always generate an interval (thus time **span**)

[2016-10-05 12:14] FLERESCHE commented on #23
Voir les spécifications de mapping sur la création d'un intervalle de temps et les propriétés associées (lignes 37 à 40 du tableau de mapping BnF sur le drive (https://drive.google.com/drive/folders/0B4s5dBwAmhJsR2w4emw2X01xcGc)
Conversion d'une date connue : utiliser la propriété P81 : F28 Expression Creation P4 has time-span E52 Time-Span P81 ongoing through E61 Time Primitive
Exprimer la date d

[2016-10-05 12:35] rtroncy commented on #23
I have edited the answer from @FLERESCHE for a better readibility. The algorithm is crystal clear.

[2016-10-10 13:22] #24 closed

[2016-10-10 14:05] #23 closed

[2016-10-10 14:09] pasqLisena commented on #23
I checked this better. The algorithm was already been implemented like here.
The only point was that it needed an inversion (check before for the requirement of the approximative).

[2016-10-12 15:01] pasqLisena opened #26 "[BnF] Implement mapping rules for bibliographic records"
In the [Mapping table of BnF](https://drive.google.com/file/d/0B4s5dBwAmhJsUXJrVnVtb19JMTA/view?usp=sharing) the rules for mapping bibliographic files (BIB) are also defined. They should be implemented.

[2016-11-25 13:19] manoach opened #27 "ISNI identifiers and mapping rules for authority records"
Actually, we are assigning the composers on the form `"first name, last name (date of birth, date of death)" ` to the works (Exp: `Beethoven, Ludwig van(1770-1827)`). These information are found in the musical records.

- [ ] We need to assign ISNI identifiers to the composers but the current DOREMUS model (to my knowledge) does not describe it: which property to which class can we assign the ISNI

[2016-11-28 09:28] rtroncy commented on #27
@manowb Can you please add a link to the original record you paste in the issue? And check the formatting of the XML content? I have tried to reformat already the one from BnF but the one from the Philharmonie has strange |.

There is no need to have a property for adding the ISNI identifier, since it identifies the Person (regardless of the exact type we will use). Check out the examples from @pa

[2016-11-28 09:59] manowb commented on #27
@rtroncy thank you for your reply. I edited my post by adding the links to the records. So, I opt for the first possibility in the case where the person records from BNF and PP have to be processed and converted to RDF.

[2016-11-28 10:28] pasqLisena commented on #27
Yes, we use ISNI for the _Representative Expression Assignment_, normally made by BnF (so it is the BnF's ISNI):
http://data.doremus.org/event/a86a5fa5-741c-39ff-8192-7fe64efe969d

You mean that instead of `<http://data.doremus.org/artist/UUID>`, we will have `<http://www.isni.org/isni/ISNI_ID>` ? (When it is possible, because we should also consider missing matches).

We will have anyway `owl:sam

[2016-11-28 10:29] pasqLisena commented on #27
We should write an email to the modelling group for this, what do you think?

[2016-11-28 10:46] manowb commented on #27
@pasqLisena Yes, I will do it :)

[2016-11-28 11:07] rtroncy commented on #27
Let's be consistent ... and always mint a DOREMUS URI to identify our artists, and sameAs them afterwards with ISNI, DBpedia and other controlled vocabularies.

For generating the UUID, use the firstName + lastName + birthDate as seed.

For the model, let me propose it, the modeling group will generally have insufficient knowledge of the appropriate vocabularies to use

[2016-11-28 11:25] manowb commented on #27
+1 I agree with you. we have to assign a DOREMUS URI --> We may not have enough metadata to unambiguously identify the person in the ISNI database and there may not be any ISNI for all persons.

I was about to send them an email. Okay, we let you propose it :)

[2016-12-13 10:37] pasqLisena commented on #18
close because duplicate of #27

[2016-12-13 10:37] #18 closed

[2016-12-13 10:45] rtroncy commented on #27
Announced yesterday during the Semantic Web day organized by the MCC https://www.eventbrite.fr/e/billets-le-web-semantique-pour-les-donnees-culturelles-28689738781 ... European will soon mint as well their own ID for artists (while linking them to VIAF, ISNI, etc.) and aim to generate artist web page based on the data. See also the presentation of Cécile Devarenne from Europeana that will soon be

[2016-12-13 13:24] manoach commented on #27
Now, we have the URI pattern to identify the composers in the form of `<http://data.doremus.org/artist/UUID>` where the UUID is generated using the `firstName + lastName + birthDate` as seed. But how about the authority records coming from **_different institutions_** describing the _**same person**_? Must we consider the information about the source db as seed for generating the UUIDs?

[2016-12-13 14:13] rtroncy commented on #27
This is a very good question. Basically, if we add the source in the seed, we will artificially generate different URIs for most likely similar artists for which we expect later on to be able to align and to reconcile.

Regarding our current seed ```firstName + lastName + birthDate``` for generating the DOREMUS UUID, are we sure we will always have those 3 fields regardless of the data source in D

[2016-12-13 21:32] pierrechoffe commented on #27
Is this pattern to be used for any person? We may have sound engineers, publishers, etc. who are not artists, so maybe "person" instead of "artist" would be more general?

[2016-12-14 08:15] rtroncy commented on #27
No, we had already this conversation in earlier threads. What we want to cover is both individual and ensemble / group, and that's why "person" is not appropriate. In FOAF, there is an agent super type to abstract from person and group but "agent" is often misleading for average data consumers. That's why "artist" is a better term. This is the choice made by most of the LOD citizen (Europeana, BBC

[2016-12-14 08:27] manoach commented on #27
Yes, we are.

Perfect, doing this, we will not have to align them later :) .... So, if it is OK, can I close the issue ?

[2016-12-14 08:33] #27 closed

[2016-12-19 17:11] FLERESCHE commented on #26
Les notices TUM (Titre Uniforme Musical) sont des notices qui décrivent des oeuvres.
Les notices BIB (pour "bibliographiques") décrivent quant à elles des documents. Lorsque la modélisation des Manifestations sera validée, nous établirons des règles de mapping pour les notices bibliographiques.

Dans le cadre des spécifications de mapping pour les oeuvres, il y a des règles de mapping à partir de

[2016-12-21 14:13] manoach opened #28 "Implement mapping rules for F40"
Actually, the generated RDF does not describe the work identification especially in terms of rules used by the bibliographic agencies for cataloging (`F40 Identifier Assignment R52 used rule F43 Identifier Rule`):

- **BNF**:  `"NF Z 44-079 (Novembre 1993) - Documentation - Catalogage- Forme et structure des vedettes titres musicaux`"
- **PP**:  In case of:
1. UNI100:200$a  --> "`Usages de la Phil

[2016-12-22 17:55] rtroncy commented on #28
I'm not sure I understand what is precisely your question @manoach. I have always argued that we should revisit the way controlled access points are modeled. In particular, we could in a first version model the result (i.e. the controlled access point) without describing the rules that constitute it. I need to see more examples from all providers. Meanwhile, what does the converter do at the momen

[2017-01-06 17:40] pasqLisena commented on #22
Done:
- [x] Not complex sets of instruments

examples:
[code]

Todo:
- [ ] Castings with roles
[code]
- [ ] Complex castings and orchestras
[code]
- [ ] singularize terms for vocabulary matching
- [ ] manage the alternative castings (`1 ophicléide ou tuba`)

I add this list also on the top.

[2017-01-11 09:19] pasqLisena opened #29 "DOREMUS uri for PP"
According to mapping rules, we set the Representative Expression in this way:

[code]

where `efrbroo:R44_carried_out_by` is the assignment actor. For the BnF we use `http://www.isni.org/isni/0000000121751303`.

What we should do with this? Some options:
1. `http://data.doremus.org/Philharmonie_de_Paris` (keep it as is, i will dereference it)
2. `http://data.doremus.org/artist/Philharmonie_de_Pari

[2017-01-11 09:45] pierrechoffe commented on #29
another option could be viaf ?
http://viaf.org/viaf/315254866/#Philharmonie_de_Paris

[2017-01-11 09:56] manoach commented on #29
I propose to use the ISNI identifier so that it is homogeneous with the URI of the BNF. The drawback is that it has not yet been enriched with the new form "Philharmonie de Paris". So, if this poses a problem, I think that the best option is to use the VIAF URI.

[2017-01-11 12:20] rtroncy commented on #29
I will slightly differ to be more consistent with our current policy, i.e. mint a new URI in our namespace which will be sameAs with many other identifiers. This will follow as well the new Europeana policy. Hence, we will get something like:
[code]

Note that DBpedia multi-type this entity as an organization, but also as a place/location, as a museum, as a building and as an architectural structu

[2017-01-11 13:27] pasqLisena commented on #29
@rtroncy following your proposal, i will suggest to not include the isni in the sameAs list, because it identify the Cité Musique. BnF link suggest that it is a 'Regroupement' of PP, that has not ISNI (at least for now).

[2017-01-11 13:34] rtroncy commented on #29
Ah ah! We are talking about granularity of description :-)
 - ```<http://catalogue.bnf.fr/ark:/12148/cb16651244g>``` identifies the new Philharmonie building open in 2015 and the old Cité de la Musique building
 - DBpedia and Wikidata do not have this granularity but I suspect they mean the same thing
 - ```<http://www.isni.org/isni/0000000121834950>``` identifies indeed the old Cité de la Musique

[2017-01-11 13:42] ccecconi commented on #29
Hello. I agree with Pasquale. I think it's better not to use "same as". It isn't exactly the same entity. Wikipedia contains two articles : one with the label "Cité de la musique" and an other one with "Philharmonie". That's right the definition of the first one is very large but, still, there are two articles.

[2017-01-11 13:44] pasqLisena commented on #29
So basically I am going to put the `sameAs` only if the landing page of the link have 'Philarmonie de Paris' as title.

[2017-01-11 16:40] #29 closed

[2017-01-11 17:56] pasqLisena opened #30 "[BnF] Artists mapping"
**BUG!** We are parsing the records about _Persons_ as they are _Works_.
Just one example: http://data.doremus.org/expression/1df26713-02eb-3025-8840-65c5df50c5b0

What to do:
- [x] distinguish persons and TUMs
- [ ] decide a model for the persons (according to #27, @rtroncy is going to propose one)
- [ ] parse the persons records properly using the same uri generation policy described [here](http

[2017-01-11 18:15] pasqLisena opened #31 "Manage multiple Titles and add a rdfs:label to all works"
In mapping rules we have the concept of **_not significant titles_**.
In a nutshell, we do not indicate with `ecrm:P102_has_title` titles like 'Sinfonia n. 7 in La maggiore' because it contains parts that are parsed respectively as genre, opus number and key.

example: http://data.doremus.org/expression/81498b00-7a42-395a-9c70-9a1643d9b62c

That means that **we have nothing that can be visualized*

[2017-01-11 19:45] pierrechoffe commented on #31
Hi Pasquale,
Is this the problem that was raised already (by Konstantin?) of titles not appearing when they are not significant? We had a discussion about it with Françoise and Frédéric at the time and we consider this was a misunderstanding (of us) in the mapping : titles should *definitely* appear, even when not significant. Any contrary mention should be considered irrelevant.
Therefore, rather

[2017-01-12 08:00] rtroncy commented on #31
```rdf:label``` should definitively be a mandatory property for all works (and also for most of the top level entities, although naming event is always tricky).

@pasqLisena Can you point out precisely where this concept of "non significant title" is described in the mapping table? I cannot find it.

[2017-01-12 08:41] pasqLisena commented on #31
@rtroncy In the mapping there are different parts like "Comparer le contenu de XXX avec les termes figurant dans le Tableau des titres non significatifs, ..."
In the practice, we have a [table of genres](https://github.com/DOREMUS-ANR/marc2rdf/blob/c79b7c502893ab6d196574eb7f5c2372d35b5c3a/src/main/resources/GenresBNF.xlsx) and we discard the title if it is in the table.

Should I create a duplicat

[2017-01-12 09:27] manoach commented on #31
Hello,
Indeed, looking at the mapping table, there are only **significant titles** that are assigned to the `P102_has_title property` of `F22_Self_Contained_Expression`.

From what I understood of this, the **non-significant titles** are stored in the access points because they are composed of : `genre in plural`, `distribution`, `opus` and `key` consecutively.

If we go back to the e-mail of Fran

[2017-01-12 09:42] pasqLisena commented on #31
If I understand well @pierrechoffe's post, they changed idea later.

[2017-01-12 12:40] rtroncy commented on #31
Can someone point me to the mapping table where processing significant versus non-significant titles is described?

How often (count) do we have works with significant / non-significant titles? I'm trying to quantify how important is the problem. Bottom line: properties such as ```rdfs:label``` should always be valued for clients that present data.

[2017-01-12 16:16] pasqLisena commented on #30
I produced a quick temporary parsing and mapping of artists, in order to have some information to visualize. These are examples of what it is currently produced:

[code]

[2017-01-12 16:32] pasqLisena commented on #31
Mapping tables: (search inside for "Tableau des titres non significatifs")
* [BnF](https://drive.google.com/open?id=0B4s5dBwAmhJsUXJrVnVtb19JMTA)
* [PP](https://drive.google.com/open?id=0B_oqgmkXcLOvUjFSdlRUaGRMcEE)

The "Tableau des titres non significatifs" is in practice a table of genres (you can see it [here](https://github.com/DOREMUS-ANR/marc2rdf/blob/c79b7c502893ab6d196574eb7f5c2372d35b5c3

[2017-01-12 17:58] pierrechoffe commented on #30
If this can be of any help, I had summed up in a schema the classes and properties used to describe a person in CRM / FRBRoo :
https://drive.google.com/open?id=0B4s5dBwAmhJsZmxSaGR5UjRwNmM
The example is imaginary. The person was Russian by birth and became Ukrainian after the dissolution of USSR.

[2017-01-15 17:07] rtroncy commented on #31
OK, I think I better understand the issue now which can be broken down in separate sub-issues:
* Should we keep this distinction between significant and non-significant titles when populating the value of the ```ecrm:P102_has_title``` property? @pierrechoffe, from [your comment](https://github.com/DOREMUS-ANR/marc2rdf/issues/31#issuecomment-271973696), we understand we should not, but this is not

[2017-01-15 17:21] pierrechoffe commented on #31
@rtroncy @pasqLisena
I agree with you, the mapping table should (and will) be changed !
The question was re-submitted to Françoise and Frédéric, for a clear answer from BnF, so you should get an answer soon (Françoise has a few thousands of emails to treat right now)

[2017-01-16 15:17] rtroncy commented on #21
See also https://github.com/DOREMUS-ANR/marc2rdf/blob/master/URI.patterns.md

[2017-01-16 15:17] #21 closed

[2017-01-20 09:03] pasqLisena commented on #31
**_Summary of the discussion of 20/01/2017._**

The ontology is evolving in order to have **4 properties** (hasTitle, hasTUM, hasSubtitle, hasVariantTitle), with 4 different meanings.

The `rdfs:label` will host only **one value** among these (normally TUM or Title) chosen following a **priority order** specified on the mapping rules.

[2017-01-20 09:33] pasqLisena opened #32 "Modeling of Manifestation"
## RoadMap

- [ ] @pasqLisena + @rtroncy : write down and validate the turtle realized on the base of [examples]( https://drive.google.com/drive/folders/0B_oqgmkXcLOvU2w4N2E1YzhRYVU?ddrp=1&usp=drive_web )
- [ ] @FLERESCHE : realize the mapping rules
- [ ] implement the mapping rules

[2017-01-20 10:18] pasqLisena opened #33 "Integrate the MODS of Catalogs in the conversion"
- [x] Wait for the realisation of the MOD -- [follow it](https://github.com/DOREMUS-ANR/knowledge-base/issues/21)
- [x] Implement

[2017-01-20 11:38] pasqLisena opened #34 "Date not extracted from the description of publication/premiere"
Examples:
 * http://overture.doremus.org/expression/60068c61-300c-30af-9e14-df6167fa6ac4
 * http://overture.doremus.org/expression/be60f5cf-5374-3e18-9fae-377351466284
 * http://overture.doremus.org/expression/13ae44f6-8d34-372f-808b-ee5145f26a33
 * http://overture.doremus.org/expression/53a443e4-876d-3556-8f24-5f3fb2fa0b6e

[2017-01-25 11:02] pasqLisena opened #35 "[BnF] Implement mapping rules for BnF casting"
The mapping rules that we are now using for casting in BnF TUM are not correct.

We need to implement the lines 100-102 on the [mapping table](https://drive.google.com/drive/folders/0B4s5dBwAmhJsR2w4emw2X01xcGc) on Google Drive.

[2017-01-26 14:37] rtroncy commented on #35
Furthermore, keep using the information in the "sous-zone 144 $b" of the notice and represent it as a simple textual note attached to the casting.

Assigning this issue to @pasqLisena but feel free to unassign :-)

[2017-01-27 10:52] pasqLisena commented on #33
@pierrechoffe can you confirm that this is the expected format of a catalog?

[code]

`<http://data.doremus.org/vocabulary/catalog/009>` corresponds to [this resource](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/catalog.ttl#L272).

[2017-01-27 11:45] pierrechoffe commented on #33
Yes I confirm :)
Nice work btw !

[2017-01-27 16:20] #33 closed

[2017-02-02 09:12] #35 closed

[2017-02-03 10:09] pasqLisena opened #36 "[pp] Parsing of cycles of compositions"
Some MARC files from Philharmonie contain _cycles of compositions_. The parsing of first/performance publication should be done differently, in order to separate the events.

An extract of ([an example](https://www.dropbox.com/s/9zz64xpre9xgnve/0782848.xml?dl=0)):
[code]

How we currently parse it  ([expression](http://data.doremus.org/expression/0150d1b7-99e6-3e2a-839a-4213cc753d84) - [publicatio

[2017-02-23 16:00] manoach opened #37 "[BNF] catalog names replaced by instrument labels"
In the triple store, for some works of the BNF (I'm not sure for the works of the PP), the catalog name is replaced by the prefLabel of an instrument.

Here, some examples:

- [ ] [Tantum ergo](http://data.doremus.org/expression/c1bba4fb-aa96-3a59-b598-b9b83aac6a64)
Where the [catalog](http://data.doremus.org/describe/?url=nodeID%3A%2F%2Fb87609) name "D" is replaced by the prefLabel of the [instru

[2017-02-23 19:00] pierrechoffe commented on #37
...and a lot more, [see the list](http://data.doremus.org/describe/?url=http%3A%2F%2Fdata.doremus.org%2Fvocabulary%2Fdiabolo%2Fmop%2Fdrums)

[2017-02-23 20:24] rtroncy commented on #37
Can we also get rid off the blank nodes by creating a URI for the value of the ```mus:U40_has_catalogue_name``` property?

[2017-02-24 08:24] pasqLisena commented on #37
I already realized what are you describing in this issue.
The problem is currently solved in marc2rdf and next release of data will not show this problem.
Thank you anyway for this report :)

Also this is already in the code :) I also working for removing blank nodes at all.

[2017-02-24 08:24] #37 closed

[2017-02-24 17:42] pasqLisena commented on #34
This issue is very near to be close, but I prefer do some test before

[2017-02-27 10:26] pasqLisena opened #38 "Undesired vocabulary matching"
There are cases in which the system of string2uri produces undesired matching.
In this [example](http://data.doremus.org/expression/d9476c2e-86e0-34d6-9e48-f79e355e61e5) a key is mapped to a mop.

[code]

A workaround already exists [in the code](https://github.com/DOREMUS-ANR/marc2rdf/blob/master/src/main/java/org/doremus/marc2rdf/main/Vocabulary.java#L95) for avoiding the wrong matching in notes

[2017-02-27 13:42] pasqLisena opened #39 "BnF TUM mapping update"
A revision of mapping for TUM is available on Google Drive:
https://drive.google.com/file/d/0B4s5dBwAmhJsNXQxV3RxRnVLamc/view?usp=sharing

We should check it and align the implementation of the converter.

[2017-02-27 13:55] pasqLisena commented on #39
@pierrechoffe It is not clear for me if the property `R40 has representative expression` should be replaced by `U38 has descriptive expression`

[2017-02-27 14:25] pasqLisena opened #40 "[PP] Give an URI to periods"
Historical periods should have an URI in order to avoid blank and duplicate nodes in the graph.

[Query](http://data.doremus.org/sparql?default-graph-uri=http%3A%2F%2Fdata.doremus.org%2Fphilarmonie&query=select+distinct+%3Flabel+COUNT%28%3Fs%29+where+%7B+%0D%0A%3Fs+a+ecrm%3AE4_Period%3B%0D%0Aecrm%3AP1_is_identified_by+%3Flabel%0D%0A%7D+GROUP+BY+%3Flabel&format=text%2Fhtml&timeout=0&debug=on):
[cod

[2017-02-27 14:59] rtroncy commented on #40
Proposal: ```<http://data.doremus.org/period/UUID>```. This can also be aligned with dbpedia, e.g. ```<http://dbpedia.org/resource/17th_century>```

[2017-02-27 15:28] pierrechoffe commented on #39
@pasqLisena the new mapping should be ready soon. Regarding R40 / U38, the modelling group decided that U38 would be the default (meeting 2016-11-03).

[2017-02-27 15:54] pasqLisena commented on #39
It means that the spreadsheet is currently work in progress?

But there are cases for which we should use `R40`? I mean real cases on the data, the abstract meaning is clear for me.

[2017-02-27 15:55] pasqLisena commented on #40
What about `<http://data.doremus.org/period/17th_century>` ?

[2017-02-27 16:38] pierrechoffe commented on #39
The modifications/additions in the spreadsheet are the first step, next step is BnF adding the rules.
On my side (modifications/additions), I still have a few things to check, it's a huge overhaul !

We will not use R40 anymore because we do not have any easy way to decide whether we are on the U38 or R40 side. So we will use U38 only. If someone somewhere has the possibility to distinguish both u

[2017-02-27 18:59] rtroncy commented on #40
Why not! But would you be able to name any period you may encounter in the data? It is easy when we talk about plain century but in the data, I can see "20 ème siècle - 2 ème moitié" or "Périodes historiques" or "Révolution française". In short, I think it would be better to provide a UUID to identify the period and add a proper label and sameAs links to wikipedia/dbpedia entities when they exist

[2017-02-28 14:23] #38 closed

[2017-02-28 14:45] #40 closed

[2017-03-01 12:22] manoach opened #41 "Problem in parsing catalog number"
For works whose catalog is composed of 3 strings separated by a white space, the parser retrieves only the first 2 strings as name and catalog number respectively.

[Here](http://data.doremus.org/describe/?url=nodeID%3A%2F%2Fb21712) is an example:

![image](https://cloud.githubusercontent.com/assets/5494373/23459557/24fb7160-fe81-11e6-82d1-f6f803f64311.png)

Note that the mapping rules to extract

[2017-03-01 12:56] manoach commented on #41
Martine answered me : "VIId is part of the catalog number."

[2017-03-01 13:09] pierrechoffe commented on #41
to be precise, rule nr. 2 should be :
[code]
or shorter :
[code]

[2017-03-01 13:31] pasqLisena commented on #41
I am doing a full conversion right now, I fix this immediately

[2017-03-01 13:39] #41 closed

[2017-03-01 13:40] pasqLisena commented on #41
This is the new result of the catalog parsing:

[code]

[2017-03-01 13:42] manoach commented on #41
Thank you @pasqLisena :)

[2017-03-01 13:48] pierrechoffe commented on #41
Voir un exemple intéressant [à la BnF](http://catalogue.bnf.fr/ark:/12148/cb162396343) : FRBNF16239634

[2017-03-03 17:40] pasqLisena opened #42 "[BnF] Different composer's name appears as different composers"
### Problem

In some cases, a work can have **different composers** (so, different `P9_consists_of` > `E7_Activity`).
Example: http://data.doremus.org/event/fcc136b1-4b9d-3eec-b469-3cafe05c74e5

In other cases, the MARC file mentions instead **different names for the same composer**. This happens in particular when the original name of a composer is written in a different alphabet.
Example: http:/

[2017-03-03 22:12] pierrechoffe commented on #42
Maybe the different spellings of the author name should be in a skos file ? with one preferred and the others as alternate ?

[2017-03-04 08:24] rtroncy commented on #42
We should not mix up problems that come from the conversion side versus challenges that belong to instance matching. Resolving that 2 entities with different spelled names actually refer to the same person is the business of the instance matching task (they have tons of efficient methods for this, cc @kgtodorov).

On the other hand, what is relevant for the conversion side is to make sure we prope

[2017-03-04 13:11] pierrechoffe commented on #42
@rtroncy @pasqLisena
There is a general problem with names, with degrees of complexity: the smallest (?) complexity is spelling, the greatest is pseudonyms.
To solve this, only unique ids can help (ISNI, VIAF...), and BnF has a list of equivalent names that can help the instance matching process (that's why I was talking about a skos file).
But the problem raised by Pasquale is that there appears

[2017-03-04 18:06] pasqLisena commented on #42
I confirm. The fact is that in the MARC file, 2 "composer fields" could refers to 2 composers for real (so 2 activities, 2 persons, etc.) OR 2 names for the same composer (1 activity, 1 person).

I agree, btw it is very important to have 1 activity in the case it is required, and if the MARC file contain the BnF id, we can get it fast.

[2017-03-05 17:12] rtroncy commented on #42
and do you have a way to distinguish those 2 cases from the MARC file?

[2017-03-06 08:53] pasqLisena commented on #42
## MARC file contents

* Different composers

[code]

* Same composer, different names
[code]

We use the subfield `w` only for extract the language (in the example only `rus` for Rahmaninov).
**Q1:** What is the meaning for that `b`, `2b`, `c` ?
I see that if I consider only the
**Q2:**

[2017-03-06 09:55] pasqLisena opened #43 "References to source institution resource online"
It could be useful to add a `sameAs` link to the page that describe  the resource in the BnF and Philharmonie digital library.

* BnF
[code]
becomes http://data.bnf.fr/ark:/12148/cb13993682j.

* Phila
[code]
becomes http://digital.philharmoniedeparis.fr/doc/CIMU/0183004

The link will be added to the `F15 Complex Work`.

[2017-03-06 11:11] FLERESCHE commented on #42
Q1 : Voici la description du contenu du $w
pos. 01 : Valeur de la forme
0 = forme savante ou à valeur internationale
pos. 03 : Type de nom de personne
# (blanc) ou . (point) = non précisé ou sans objet, i.e. nom d'état civil
1 =nom d'alliance
2 = pseudonyme
3 = pseudonyme collectif
4 = nom en religion
pos. 04 : Ecriture de la forme
b = latin
c = cyrillique
f = arabe
g = grec
h = hébreu
etc. La lis

[2017-03-06 12:19] FLERESCHE commented on #42
Moreover, PP and BnF have different ids and "preferred tranlistteration" for artists, so an instance matching process should be performed after the conversion.

La BnF a fourni toutes ses notices d'autorité personnes et collectivités liées aux notices bibliographiques.
Ces notices d'autorité contiennent l'identifiant ISNI de la personne ou de la collectivité.
Par ailleurs, elles contiennent sans d

[2017-03-06 14:28] pasqLisena commented on #42
Thanks @FLERESCHE.

Basically we should take in account the content of the field `100` **only if the subfield `$3` exists**.
I suggest to continue to use the **same system of generation UUID**:
* for most of the authors, the name is the same for all institution, so we will have only [1 URI](http://data.doremus.org/sparql?default-graph-uri=&query=select+DISTINCT+*+where+%7B+%0D%0A%3Fs+a+ecrm%3AE21_

[2017-04-07 13:17] pasqLisena opened #44 "Save internal ID used by the source"
We should use `dc:identifier` to save the internal id for each work.

[2017-04-21 16:58] pasqLisena opened #45 "Trivial errors on parsing of casting"
See this [query](http://data.doremus.org/sparql?default-graph-uri=&query=SELECT+DISTINCT+*%0D%0AWHERE+%7B%0D%0A++%3Fperformance+ecrm%3AP9_consists_of+%3Fpart+.%0D%0A++%3Fpart+mus%3AU1_used_medium_of_performance+%3Fmop%0D%0A%7D&format=text%2Fhtml&timeout=0&debug=on) for further information

[code]

[2017-04-21 21:03] rtroncy commented on #45
The MoP strings should be interlinked with the pivot controlled vocabulary as well, see also the [knowledge-base/issue 23](https://github.com/DOREMUS-ANR/knowledge-base/issues/23).

[2017-04-21 21:14] pierrechoffe commented on #45
Why are there 2 clarinets for he second performance (http://data.doremus.org/performance/2b38d6d4-85d3-39c5-a49e-43c10304642a) when There is only one in the casting ? (http://data.doremus.org/describe/?url=http%3A%2F%2Fdata.doremus.org%2Fexpression%2Fab4f119b-d36a-337e-b3b4-f4a9b8c94042%2Fcasting%2F1%2Fdetail%2F1)

[2017-04-21 21:17] pierrechoffe commented on #45
same for http://data.doremus.org/performance/c3f844cf-ebc1-37c4-a9f1-ed90228b2c82

[2017-04-22 11:11] pasqLisena opened #46 "Mapping of librettists"
In MARC files from both BnF and PP the information about the librettist is present.

Example: **Aida**
1. http://digital.philharmoniedeparis.fr/doc/CIMU/0758984 (field 701)
2. http://catalogue.bnf.fr/ark:/12148/cb13920545w.intermarc (field 322)

It is possible to extract this information from MARC files and map it to DOREMUS?

[2017-04-23 13:46] pasqLisena opened #47 "[BnF] Incorrect parsing of dates"
I noticed some error in parsing of the dates, that are shown in the first [results](http://data.doremus.org/sparql?default-graph-uri=&query=SELECT+DISTINCT+%3Fsource%2C+%3FexpCreation%2C+%3FcompositionDate%2C+SAMPLE%28%3Ftitle%29+as+%3Ftitle%0D%0AWHERE+%7B%0D%0A++%3Fexpression+a+efrbroo%3AF22_Self-Contained_Expression+%3B%0D%0A+++++++++dct%3Apublisher+%3Fsource+%3B%0D%0A++++++++++mus%3AU70_has_tit

[2017-04-27 12:39] pasqLisena opened #48 "Extracting of the dedicatee"
The dedication note (plain text) has a very regular syntax.
We should apply simple parsing for applying the dedicatee (`mus:U44_has_dedication_statement \ ecrm:P67_refers_to`).

Some [examples](http://data.doremus.org/sparql?default-graph-uri=&query=SELECT+DISTINCT+%3Fnote%0D%0AWHERE+%7B+%0D%0A++%3Fs+mus%3AU44_has_dedication_statement+%2F+ecrm%3AP3_has_note+%3Fnote%0D%0A%7D+LIMIT+1000&format=text%

[2017-05-02 09:53] #44 closed

[2017-05-02 09:53] #43 closed

[2017-05-02 10:05] #42 closed

[2017-05-02 11:38] pasqLisena commented on #47
**Case 2 : "194-"**

It is confirmed that is an unknown date between 1940 an 1949.

[2017-05-02 13:14] pasqLisena commented on #39
I see that the `M45_Descriptive_Expression_Assignment` have a connection with `F15 Complex Work` of the type `P140 assigned to` -- [slides](https://drive.google.com/file/d/0B4s5dBwAmhJsVGFrVi12RkJjUGs/view?usp=sharing).

However in CIDOC that property is called [`P140 assigned attribute to`](http://erlangen-crm.org/current/P140_assigned_attribute_to). What should we do?

[2017-05-02 13:22] pierrechoffe commented on #39
Definitely use `P140 assigned attribute to`, I will correct the slide(s)

[2017-05-02 13:35] pasqLisena commented on #39
Another thing, now we should apply U3 and U4 both to F22 and F14?

[2017-05-02 14:16] pierrechoffe commented on #39
You mean U4 and U5 ?
Now you can apply them to both F22 and F14, but you don't have to. F22 is the preferred option, we should not use F14. Since F14 and F22 are technically equivalent, the idea is to have all the info on one node (F22).

[2017-05-02 14:20] pasqLisena commented on #39
Should I keep it on F14 for compatibility reasons? (apart from overture, also @delahousse is working on these things)

[2017-05-02 14:24] pierrechoffe commented on #39
Sure, we can apply to both F22 and F14 (but not _instead of_ F22... applying only to F14 would not be a good idea).

[2017-05-03 14:55] #45 closed

[2017-05-03 16:26] pasqLisena commented on #47
A data correction in the sources has been requested for this MARC files:

**Case 1 : "21 a"**
- 13911353
- 14836834
- 14811154
- 15590953
- 15601540
- 13943398

**Case 3: "18-8"**
- 14800538
- 14797787
- 14800418
- 14800432
- 14800529
- 14827232
- 14797130
- 14800434

Their solution will no more concern marc2rdf

[2017-05-04 10:22] pasqLisena opened #49 "Date precision: use gYear, gMonth etc."
from https://github.com/DOREMUS-ANR/knowledge-base/issues/28

[2017-05-04 10:32] pasqLisena opened #50 "Date uncertainity in this millennium"
The uncertainity of date in this millennium (i.e. in MARC is written `201.` or `20..`) should be considered until now and not until 2099.

Example:
rdf: http://data.doremus.org/event/eb612d21-03e7-3e4e-b736-e1761e4219d4/time
source: http://data.bnf.fr/ark:/12148/cb14725511k

[2017-05-04 12:06] #47 closed

[2017-05-04 12:38] #49 closed

[2017-05-04 12:38] #50 closed

[2017-05-04 13:08] pasqLisena commented on #31
I am looking at the source files: we have methods for distinguish between the 4 kind of titles?

[2017-05-04 13:44] rtroncy commented on #31
cc @pierrechoffe for the question above!

[2017-05-04 14:03] pasqLisena commented on #30
This is enough (at least for now)

[2017-05-04 14:03] #30 closed

[2017-05-04 14:21] #17 closed

[2017-05-04 16:51] pierrechoffe commented on #31
The group agreed on a restricted list of 4 types of titles, therefore we don't have to type titles, we just use 4 properties. The situation is different for each partner, so it is difficult to answer precisely, maybe the best would be to talk about it at the General Assembly next week. But in principle, all partners are able to distinguish beteween the 4 kinds of titles.
At BnF, it is definitely p

[2017-05-05 11:38] pasqLisena opened #51 "[BnF] Derivation"
On the new [mapping rules](https://drive.google.com/file/d/0B4s5dBwAmhJsNXQxV3RxRnVLamc/view?usp=sharing), it is specified how to get derivations:

line 18 : `F15 Complex Work R2 is derivative of F15 Work   ||  TUM 301`

This field contains in the MARC file:
[code]
where `13936675` is the target record.

This record contains instead:
[code]

So a parsing of the text in `301$r` is required for unde

[2017-05-05 13:32] pasqLisena commented on #51
Current implementation:
- i consider as derivation only if the note finish with "_par_" or "_de_"
- i consider only the derivation that I can exactly match with the controlled vocabulary (i.e. "Transcriptions par" --> "transcription"@fr)

[2017-05-08 19:38] rtroncy commented on #51
cc @pierrechoffe @FLERESCHE pour confirmer que l'interprétation ci-dessus est correct

[2017-05-09 09:01] pasqLisena opened #52 "[PP] Oboe matching in MIMO"
In French, the string "**Hautbois**" is both singular and plural.

So in MIMO it compares as `prefLabel` of both:
* Oboe's family `"Oboes"@en` http://www.mimo-db.eu/InstrumentsKeywords/4164
* Oboe as instrument `"Oboe"@en` http://www.mimo-db.eu/InstrumentsKeywords/4232

Currently the matching goes to the first, while the second is the correct one normally.

Maybe we should implement a workaround f

[2017-05-09 09:52] pasqLisena opened #53 "[PP] Alto matching"
Double check `altos` vs `alto`:
http://data.doremus.org/expression/1732e97d-6a80-3726-abe9-bc3d31876032/casting/1
http://data.doremus.org/expression/a45dfd71-a1cb-3344-8f15-267b708e9547/casting/1

Another problem is to recognise when it is a voice and when a string.

See usage here
http://data.doremus.org/describe/?url=http%3A%2F%2Fwww.mimo-db.eu%2FInstrumentsKeywords%2F3561

Useful [query](http:/

[2017-05-09 09:59] rtroncy commented on #52
One heuristic could be: "always privilege the instrument over the family" when there are multiple match. Does it make sense?

[2017-05-09 11:15] pasqLisena commented on #53
Same problem for Baryton
http://data.doremus.org/describe/?url=http%3A%2F%2Fwww.mimo-db.eu%2FInstrumentsKeywords%2F3585&sid=298

[2017-05-09 11:15] pasqLisena commented on #52
Yes, could be good

[2017-05-09 11:22] pasqLisena commented on #53
The voices are definitively not included in MIMO, so obviously it can not be matched correctly.

[2017-05-09 19:27] pierrechoffe commented on #51
@rtroncy je ne peux pas répondre pour la BnF :(

[2017-05-17 14:16] pasqLisena opened #54 "Matching of catalogue 'HoB'"
The ["HoB" catalogue](http://data.doremus.org/vocabulary/catalog/064) is not correctly recognised and interlinked.
I think is a problem of case sensitiveness.

[query](http://data.doremus.org/sparql?default-graph-uri=&query=select+DISTINCT+*+where+%7B%0D%0A+++%3Fs+mus%3AU40_has_catalogue_name+%3Fo%0D%0A+++FILTER%28contains%28lcase%28str%28%3Fo%29%29%2C%27hob%27%29%29%0D%0A%7D&format=text%2Fhtml&ti

[2017-05-29 16:11] #54 closed

[2017-06-07 13:28] pierrechoffe opened #55 "Implementation of mapping rules for Opus Number"
As can be seen from [the results](http://data.doremus.org/sparql?default-graph-uri=&query=SELECT+*+%0D%0AWHERE+%7B+%0D%0A%3Fexpression+dct%3Aidentifier+%3Fid%3B+%0D%0Aprov%3AwasDerivedFrom+%3Fsource%3B+%0D%0Amus%3AU17_has_opus_statement+%2F+mus%3AU42_has_opus_number+%3Fop+.%0D%0Afilter+%28%3Fop+%3E+%221000%22%29.%0D%0A%7D+LIMIT+1000&format=text%2Fhtml&timeout=0&debug=on) of following queries, the

[2017-06-07 14:25] pasqLisena commented on #55
Groups:
- Corrects, no fix need
   - `105a` , `203 bis`, `7/1`, etc.
- Trivials, needs an extension of current rules:
   - different string `n°`, `no°`, `N.`, `no.`, `Op.`, `op`, `Opus`, etc.
   - assence of comma `,`
- Exception in syntax
  - `[Op. 3, no 2]`, `partie 2`, `livre 1`
- Ranges
  - `5 et 6`, `1-3`, `4 à 8`
- Presence of the string `posthume`/`post.`
- Different content in `144$p`
  -

[2017-06-07 17:18] pierrechoffe commented on #55
@pasqLisena actually when considering whether change is needed (at the source or implementation level), we have to make a clear distinction between opus numbers and opus sub-numbers. For instance, "7/1" is acceptable (although highly improbable) at the sub-number level, but _**not**_ at the number level because in this case this is clearly an Op. 7, no 1 => 1 is the sub-number.

I agree with the o

[2017-06-26 07:53] #51 closed

[2017-06-26 17:10] pasqLisena commented on #53
I am sure that `alto` is a viola when:
- The instruments following or preceding are String instruments
- There is a `contralto` in the same note

I am sure that `alto` is a contralto when:
- The instruments following or preceding are voices instruments
- The instruments following is a choir
- There is a `viola` in the same note

In all the other cases, the probability that is a viola is very high

[2017-07-07 15:20] #52 closed

[2017-07-07 15:20] #53 closed

[2017-07-11 13:58] #55 closed

[2017-07-11 14:00] pasqLisena commented on #55
As decided in the modelling group, we are not going to fix that problems.
I extended/applied a fix that we already had for the philharmonie, in order to fix at least the "trivial" ones.

[2017-07-25 13:47] pasqLisena opened #56 "Representation of time"
From a [debate](https://docs.google.com/document/d/1YeeziwYhZKPr0eykwYmD_yrU1Wk4dlkV4FUrjCSpC8Y/edit?disco=AAAABOu-x7k) started after some modelling doubts, is clear the need for a new way to describe times.

In particular `ecrm:P79_beginning_is_qualified_by` (and `ecrm:P80_end_is_qualified_by`) relates actually to a "qualification" of the date information, the nature of which can be certainty, pr

[2017-07-25 14:16] pasqLisena opened #57 "Artist birth and death dates"
How we describe artists birth-death now:
[code]

Problem: P98i and P100i should have as range an event (it is an ObjectProperty and not a DataProperty). So the connection between the artist and its birth date should be _Artist > Birth Event > Time Span > Date literal_. Very long.

Different proposals:

1. [~~bio:birth~~](http://purl.org/vocab/bio/0.1/birth) it is a ObjectProperty (used with errors

[2017-07-25 15:49] pierrechoffe commented on #57
True, the birth event is a bit longer, but it allows for richer descriptions : date of birth, place of birth, from parents X & Y, notes about birth, etc.
I made [a schema about it](https://drive.google.com/open?id=0B4s5dBwAmhJsZmxSaGR5UjRwNmM) a while ago, although it is simplified (no Time-Span step which should definitely be there) it gives a good idea of possible ramifications.

And, since we a

[2017-07-25 15:58] pasqLisena commented on #57
What if put both for allowing both simpler and richer queries? :)

[2017-07-25 16:09] pierrechoffe commented on #57
what would be the schema in this case ?

[2017-07-25 16:17] pierrechoffe commented on #57
@pasqLisena
Btw, when I did this schema I was interested in one additional point, which relates to our discussion: the possibility to infer the nationality of a person depending on informations about birth and death places. In this (fake) case, the person was born Russian but died Ukrainian after Ukraine was independent. So maybe this is one more argument in favor of the Birth and Death events ? ;

[2017-07-26 08:21] pasqLisena commented on #57
Considering also #56 :

[code]

[2017-08-22 15:45] pasqLisena opened #58 "Align conversion to a complete scheme"
![image](https://user-images.githubusercontent.com/4126222/29574367-9fe5184a-8761-11e7-8c18-134fe0af718f.png)

[2017-08-22 16:21] #58 closed

[2017-08-28 10:08] delahousse commented on #56
+1 for this proposal
has it been approved by the modelisation group ?  should I import TimeLine
ontology into Doremus ?

Jean

Jean Delahousse

Independent Consultant
Semantic technologies, Linked Open Data, Semantic Web, Knowledge
engineering
delahousse.jean@gmail.com  <delahousse.jean@gmail.com>
mob +33 6 01 22 48 55 <06%2001%2022%2048%2055>
skype jean.delahousse

2017-07-25 15:47 GMT+02:00 Pasq

[2017-08-28 10:11] delahousse commented on #57
+1 for Pasquale example
Jean

Jean Delahousse

Independent Consultant
Semantic technologies, Linked Open Data, Semantic Web, Knowledge
engineering
delahousse.jean@gmail.com  <delahousse.jean@gmail.com>
mob +33 6 01 22 48 55
skype jean.delahousse

2017-07-26 10:21 GMT+02:00 Pasquale Lisena <notifications@github.com>:

[2017-08-28 10:20] pasqLisena commented on #56
I think this is out of the scope of the DOREMUS model, it is just a thing that we need in the data.
I neither see the need for importing it in our ontology

[2017-08-28 10:23] delahousse commented on #56
ok

Jean Delahousse

Independent Consultant
Semantic technologies, Linked Open Data, Semantic Web, Knowledge
engineering
delahousse.jean@gmail.com  <delahousse.jean@gmail.com>
mob +33 6 01 22 48 55
skype jean.delahousse

2017-08-28 12:20 GMT+02:00 Pasquale Lisena <notifications@github.com>:

[2017-09-07 16:46] pasqLisena commented on #56
Maybe related: https://www.w3.org/blog/news/archives/6477
Going to give it a look

[2017-09-07 17:44] rtroncy commented on #56
Right, this is what I just wrote in the google doc (CR of the modeling group).

I agree to use the ecrm properties P79 and P80 as they are intended to be used, i.e. to qualify the precision of the date/time. In this sense, the value of those properties will be literal such as "uncertain", "precision at decade", "precision at century". Is there an exhaustive list of such values?

For actually speci

[2017-09-07 20:12] rtroncy commented on #57
Hum, 2 small observations:
* The URI you're minting for interval should rather be ```<http://data.doremus.org/artist/6963af5e-b126-3d40-a84b-97e0b78f5452/birth/interval>``` rather than ```<http://data.doremus.org/artist/6963af5e-b126-3d40-a84b-97e0b78f5452/birth/time>``` and then, follow the modeling proposal described in issue #56 (i.e. use the OWL Time ontology rather than the Timeline ontology)

[2017-09-08 07:28] pasqLisena commented on #56
At least in the data, I can identify those 3 and eventually the `certainty` one. But they are DataProperties, so I will not create a mini vocabulary for them.

Yes, indeed I like the idea of have a direct property like `tl:start "1939-08-05"^^xsd:date`. Are we sure we don't want to go for it? Which expressivity are we loosing in facts?

[2017-09-08 07:43] pasqLisena commented on #57
The difference between these 2 queries is that the former is much more readable :) I am also thinking about other people that would like to use our data.
Moreover, we sometimes duplicate the information, like with U70_has_title and rdfs:label. And it is instantiated at the same time by the converter, so there will be not incoherence. I am still for putting them both if this is the only point again

[2017-09-08 07:46] rtroncy commented on #56
+1

Ah ah, this is the whole purpose of OWL Time :-) First, because of the timeline ontology, you're limiting to a single calendar, the Gregorian one. Imagine you want to use a different calendar, such as the Napoleon one. Look at the many use cases of OWL Time, the concept of a temporal reference system (TRS) as we do have for geography, etc.

[2017-09-08 09:10] pasqLisena commented on #56
Ok, this is very far from our purposes 😄
Anyway, let's go with Time Ontology for being compliant with standards.

[2017-09-09 13:44] rtroncy commented on #57
Right, but people are not supposed to see queries, nor raw data :-)

I'm fine though that we also make an exception of duplicating those values between the ```schema:birthDate``` (resp. ```schema:deathDate```) and the longer ecrm path as we do between ```rdfs:label``` and ```mus:U70_has_title```.

@nicolasGuillouet Do you watch this issue? This has consequences on your converter too!
@pasqLisena C

[2017-09-09 13:45] rtroncy commented on #56
Good, you can close this issue as well once the converter will be updated / cc @nicolasGuillouet so that you also take into account those changes in your new release of data

[2017-09-11 08:24] #56 closed

[2017-09-11 12:26] #57 closed

[2017-09-26 13:05] pasqLisena opened #59 "[PP] Keys with final dots"
Sometimes the keys end with a final dot.
Example: `"Fa majeur."@fr`
http://data.doremus.org/expression/b1d12b34-46a1-3d26-a6ad-efef75b1db7a/key/fa_majeur.

This prevents the converter to match with the controlled vocabulary.

[2017-09-26 15:27] pierrechoffe commented on #59
To be fixed at the conversion level? The dot is an error (I mean: there is no situation where a dot would be required or meaningful).

[2017-09-26 15:58] rtroncy commented on #59
Yes, the converter will handle this case, doing a specific parsing that will remove the last dot(s). But this shows that converting literals by controlled vocabularies helps to detect inconsistent annotation practices

[2017-09-28 10:13] pasqLisena commented on #39
Another review has been released:
https://drive.google.com/open?id=0B55dxt4olm-DR1VxbVh3Y05rdTA

The converter needs an update

[2017-09-28 10:28] pasqLisena opened #60 "Wrong date parsing"
"21 a"
http://data.doremus.org/event/3a2122a9-142e-3cdb-800c-90f3440c9a28/interval

[2017-10-05 12:25] pasqLisena opened #61 "[PP] Works with different TUMs"
Some works have different TUMs. Example: 0804799.

Normally, the 1st one is exactly the same, the other ones "parts of" the main one. We generalise that are all of them are like this, waiting for a cleaning by the Philharmonie.

They will be connected by `has member`.
Only 1 `F15 Complex Work` will be instantiated.

- [x] Implement and produce an example
- [x] Validation by Cecile
- [ ] Correction

[2017-10-05 12:28] pasqLisena opened #62 "[PP] Keep the TUM id"
So far, we have in the data only the id of the "Notice d'ouvre".

We should  find a way to keep also the id of the TUM (without confusing the 2).

[2017-10-05 12:31] pasqLisena opened #63 "[PP] Parse the execution duration"
See in the mapping table

[2017-10-05 12:40] rtroncy commented on #62
You use the ```dc:identifier``` property so far, right? Do you need to refine (specialize) this property?

[2017-10-05 13:31] pasqLisena commented on #62
Another way is to use better the prov:Activities that are connected to the expression (example in http://data.doremus.org/expression/71d0c14f-fa29-369b-9e19-36ad902dcbfa )

[2017-10-05 19:50] rtroncy commented on #62
I think you're talking about orthogonal issues.

First, you may want to distinguish the various IDs by not using a single property (dc:identifier) but by reifying this property into some sub-properties that convey more semantics, such as this is the ID in the TUM sense, this is the ID in our internal system, etc. Do we want this?

Second, you may want to described the relationships between those m

[2017-10-06 10:06] pasqLisena commented on #62
### Solution 1

Prefixing the identifiers.

[code]
Path: `?exp dct:identifier ?id`

### Solution 2

The identifiers are specified in the source files (PROV).
(I use blank nodes just for visualising here.)

[code]

Path: `?exp prov:wasDerivedFrom / dct:identifier ?id`

### Solution 3

Use the F40 Identifier Assignment and F13 Identifier.
I do not like this solution and I am not sure if is structura

[2017-10-06 14:17] pasqLisena opened #64 "[BnF] après + date"
Manage this case http://data.doremus.org/artist/612f6e35-e4b8-3551-9f3b-5f5728dc2dda

[2017-10-06 14:37] pierrechoffe commented on #64
a date with ... means that there is uncertainty: 176. means "at some time between 1760 and 1769"
and 17.. means "at some time in the XVIII. century".
In some cases we can assert something, either because there are historical evidences or just because we know the person died let's say in 1799 and was not so old, so 17.. is a minimalistic assertion.

in *this* specific case (1...-après 1753), the pr

[2017-10-06 14:49] pasqLisena commented on #64
Answering @pierrechoffe :

### birth `1...`

I would write "1000" and set `ecrm:P79_beginning_is_qualified_by` as `"precision at millennium"`.
It means applying [the same rules we use for TimeSpan](https://github.com/DOREMUS-ANR/marc2rdf/blob/0c0fbaa94b0dd619d93513e7df6e4dd2cf165378/src/main/java/org/doremus/marc2rdf/main/TimeSpan.java#L106).

### death `après 1753`

I would write "1753" and set `

[2017-10-06 20:39] rtroncy commented on #62
### Solution 4

Reifying the ```dct:identifier``` property

[code]

P.S:
* I veto the solution 3 :-)
* Solution 1 has the drawback that one needs to parse the string to get the semantics of the value.

[2017-10-07 19:34] pasqLisena commented on #62
Sure, but normally these values are just used internally by us.

I like how easy is its usage.
But we really want to add it to the Ontology? Is it so "music-related"?

Anyway, we can state that solution 2 & 4 are the best ones.

[2017-10-08 21:33] rtroncy commented on #62
Well, yes, TUM is definitively a music-specific type of identifier. Note that schema.org is exactly going this way, proposing to define several sub-properties of ```schema:identifier``` for various domains (issn for books, gtin for products, etc.)

[2017-10-11 21:14] pasqLisena opened #65 "Extract the String2Uri module"
I would like to extract the [“string2uri” part](https://github.com/DOREMUS-ANR/marc2rdf/tree/master/src/main/java/org/doremus/vocabulary) of the converter.

The idea is to produce a tool for replacing the strings with DOREMUS uris that can work both
- as module in other (java) projects (i.e. marc2rdf, itema3converter, euterpeConverter, etc.), avoid the current code duplication
- as command line sc

[2017-11-09 14:09] pasqLisena commented on #65
module externalised in https://github.com/DOREMUS-ANR/string2vocabulary

[2017-11-09 14:09] #65 closed

[2018-01-12 13:49] #64 closed

[2018-01-12 14:18] pasqLisena commented on #59
Already fixed

[2018-01-12 14:24] #59 closed

[2018-01-12 15:20] pasqLisena commented on #60
Added a check that if it is not a valid date, the instant is not created

[2018-01-12 15:20] #60 closed

[2018-01-15 14:44] pasqLisena commented on #46
For BnF, closed in  08e8c22

[2018-01-15 14:45] pasqLisena commented on #39
Closed with  08e8c22

[2018-01-15 14:45] #39 closed

[2018-01-17 16:40] pasqLisena opened #66 "[BnF] Descriptive and Representative assignment"
Recently, BnF separated the 2 concepts.
However, the class `M45_Descriptive_Expression_Assignment` is instantiated without distinction, and no instances of `efrbroo:F42_Representative_Expression_Assignment` are present.

[2018-01-17 17:47] pasqLisena opened #67 "[Philha] Remove dot after Key"
If the key ends with a dot (e.g. `"Sol majeur."@fr`) remove it, for making it coherent with controlled vocabulary.

[query](http://data.doremus.org/sparql?default-graph-uri=&query=SELECT+%3Fp%2C+COUNT%28%3Fs%29+AS+%3Fn%0D%0AFROM+%3Chttp%3A%2F%2Fdata.doremus.org%2Fphilharmonie%3E%0D%0AWHERE+%7B%0D%0A++%3Fs+a+mus%3AM4_Key+%3B%0D%0A+++++ecrm%3AP1_is_identified_by+%3Fp%0D%0A++%7D%0D%0AGROUP+BY+%3Fp%0D

[2018-01-19 13:31] pasqLisena opened #68 "Add license"
Add those 2 licenses:
- https://www.etalab.gouv.fr/licence-ouverte-open-licence
- CC BY 4.0

Also in Itema3 and Euterpe.

[2018-01-19 20:43] rtroncy commented on #68
Are you talking about licenses to attach to the data dump? Or licenses attached to the converter software?

For the data: ok for https://www.etalab.gouv.fr/licence-ouverte-open-licence + CC BY 4.0
For the software, let's go for Apache2

[2018-03-12 16:15] pasqLisena commented on #67
duplicated of #59

[2018-03-12 16:15] #67 closed

[2018-03-12 17:19] pasqLisena opened #69 "[PP] Bad parsing of UNI44 performers"
Check this
http://data.doremus.org/performance/a6c59767-8d68-3591-b5a1-d93657ac6dd5

[2018-03-13 17:03] pasqLisena commented on #68
Which class/property should be used for attaching license?
I mean, I do not want to declare that a certain work is licensed, but just that our data are licensed. Common practices?

[2018-03-13 17:29] #66 closed

[2018-03-13 17:34] #31 closed

[2018-03-13 17:36] #34 closed

[2018-03-13 21:31] rtroncy commented on #68
The license should be attached to the dataset distribution. We need to provide a [DCAT](https://www.w3.org/TR/vocab-dcat/) description.

[2018-03-14 09:28] pasqLisena commented on #68
Ok, I think this is similar to what we currently do with the [catalogue vocabulary](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/catalogue.ttl#L10).

We need 1 DCAT for the whole dataset or 1 for each graph?

We need to attach every record to the DCAT ? Just the main ones (e.g. F22)? None of them?

[2018-03-14 12:00] pasqLisena commented on #61
Query:
[code]

Navigable F15:
http://data.doremus.org/work/fb36004d-4807-30a7-a9ec-7cc37482bfe7

@ccecconi please give a look :)

[2018-03-14 12:08] rtroncy commented on #61
The [results of this query](http://data.doremus.org/sparql?default-graph-uri=&query=SELECT+DISTINCT+*+WHERE+%7B+%0D%0A+%3Chttp%3A%2F%2Fdata.doremus.org%2Fwork%2Ffb36004d-4807-30a7-a9ec-7cc37482bfe7%3E+efrbroo%3AR10_has_member+%2F+efrbroo%3AR9_is_realised_in+%3Fexpression.%0D%0A++%3Fexpression+rdfs%3Alabel+%3Flabel%0D%0A%7D&format=text%2Fhtml&timeout=0&debug=on) also show 2 blank node identifiers f

[2018-03-14 12:24] pasqLisena commented on #61
Uploading issue. Do not care about them for now

[2018-03-15 22:20] rtroncy commented on #68
I think we should do 1 DCAT for each graph (dump / dataset). The dataset will contain the description of many first class entities and among others F22

[2018-03-16 10:05] pasqLisena commented on #68
So I guess something like this:

[code]

Converted files will contain also:

[code]

**Q:** Which records should be directly linked?
- **A1.** All the ones that declare PROV data
    - e.g. for BnF records, f22, f28, f15, f14
    - e.g. for Itema3 records, f31
- **A2.** One for file:
    - e.g. for BnF records, f22
    - e.g. for Itema3 records, f31

[2018-03-16 10:30] rtroncy commented on #68
This is a pretty good start! However, you seem to mix ```dcat:Catalog``` and ```dcat:Dataset```. For me, each graph we have created correspond to a ```dcat:Dataset``` and we could have 1 ```dcat:Catalog```, namely DOREMUS. I would not use the property ```dcat:record```.

I would provide a better label for the dataset, e.g.
[code]
and
[code]

[2018-03-16 10:35] pasqLisena commented on #68
So no connection between the `dcat:Dataset` and each record?

[2018-03-16 10:38] rtroncy commented on #68
Nope. The connection is anyway between a ```dcat;Catalog``` and a ```CatalogRecord``` when you want to slide your catalogs into macro-units for which you want to give themes, not really what we aim to do.

[2018-03-16 15:03] #68 closed

[2018-03-17 17:59] pasqLisena opened #70 "Feedback on UNI44"
Exemple 2 (0758067.ttl)
Je ne vois pas de lien entre cette M42 Performed Expression et le F25 Performance plan de la F31 Performance (cf. mapping)

[2018-03-17 18:00] pasqLisena opened #71 "Feedback on UNI4"
Reference example: [0240460.ttl](http://data.doremus.org/manifestation/f0ab4531-9cb6-3c40-9cab-07e2e0a6f6fa)

### F31 Performance :
- [x] Tu n'as pas indiqué l'heure de début. Uniquement le jour. Pourquoi ? (cf. ligne 86 du mapping - et même chose pour F29, cf. ligne 61 du mapping)
Ex :
[code]

- [x] Est-il nécessaire de préciser une date de fin ? Il est rare, mais il arrive que des concerts finis

[2018-03-18 19:36] #63 closed

[2018-03-18 19:44] pasqLisena commented on #71
Error about MoP in M28 fixed in 08d591170d9792a703a605f52b0b0d30bc5fad89

[2018-03-18 20:13] #71 closed

[2018-03-18 20:25] #70 closed

[2018-03-27 17:43] pasqLisena opened #72 "[BnF] Take birth/death place from artist records"
- [x] Parse the birth/death place
- [x] Interlink with geonames

[2018-04-05 12:44] ccecconi commented on #46
Ok for it. The information is in UNI100 : 700$4 or 701$4 (person associated with the function code "480".
I just added a lign about it in the mapping : https://docs.google.com/spreadsheets/d/1OMq-JRks8ZSobSssMK83Iw_SlqgZcmlAy_3zZrwaLag/edit#gid=1964546468

[2018-04-05 14:01] pasqLisena commented on #69
Ah, this is a more complex thing :) I reopen the issue

[2018-04-05 17:53] ccecconi commented on #61
In this case, in fact, the work record (UNI100) and the first TUM (AIC14) should be converted in only one F14 and F22. The AIC14 contains the variant titles and the uniform title of the F22. The UNI100 contains the "normal" title and the description of the F22.
I modified the mapping to explain all that (https://docs.google.com/spreadsheets/d/1OMq-JRks8ZSobSssMK83Iw_SlqgZcmlAy_3zZrwaLag/edit#gid=1

[2018-04-05 18:04] ccecconi commented on #61
In the example you sent to me, we can't see which F14 represents the whole work and which ones represents parts of this work. I spoke with Françoise about this. We think it would be better to have :
- F15 (called A and which represents the whole work) _R10 has member_ F14 _has descriptive expression_ F22 (corresponding to UNI100 n° 0804799 and AIC14 n°0804786)
- F15 (called B and which represents

[2018-04-05 18:06] ccecconi commented on #61
We can speak about that on monday.

[2018-04-05 20:42] pasqLisena commented on #61
As the current status, this is just a change of the titles property, but we have a discussion in progress on this :)

This is not clear, how many F15 are there?

Already present.

This should be added

[2018-04-16 12:18] pasqLisena opened #73 "Nr. 2"
Remove that nr. 2
http://data.doremus.org/expression/74fdfd46-848a-3c21-938c-2ddfec34a2a1

[2018-04-16 16:45] pasqLisena opened #74 "prennant"
_prennant_ should be excluded from the parsing
http://data.doremus.org/expression/59abe77d-2e2f-3690-bc0b-8697776e054b/casting/1

[2018-06-01 12:11] pasqLisena opened #75 "Bad use of U35"
normally, in Performances, U35 should be not used (use U31 instead)

[2018-06-04 10:59] TLM-CIMU opened #76 "Mention of the notice number when an error occured"
When data is processed, errors may occured.
For some of these errors, the notice number is mentionned in the error message, for others not.
The errors for which the number is not mentionned are the following :
- "Not parsable catalog"
- "not parsed as range"
- "Mop not found"
Would it be possible to systematically indicate the number of the notice in which an error occured ?
Would it be possible t

[2018-06-18 08:44] pasqLisena opened #77 "Improve README"
Write explicitly:
- how to use schemagen
- the first-time-split behavior

[2018-06-18 21:17] pasqLisena opened #78 "dc vs dct"
For identifiers, 2 props are used:
- `dct:identifier` in http://data.doremus.org/expression/9dade3d9-a4b3-3d18-bfd5-6bdc8686237a
- `dc:identifier` in http://data.doremus.org/performance/398bccef-ef71-3e30-b326-150ab46d19e2

Choose one.

[2018-06-18 22:32] rtroncy commented on #78
```dc:ientifier``` where ```dc``` is ```<http://purl.org/dc/elements/1.1/>``` should be used

[2018-06-25 14:02] pasqLisena opened #79 "No connection between performed and sc expression"
M42 (also when it is a premiere) and F22 should be connected through `mus:U54_is_performed_expression_of`.

Example: http://data.doremus.org/performance/de4a43fa-651c-3c21-8704-29628d633bff

[2018-06-28 14:48] pasqLisena opened #80 "Bad use of U35"
normally, in Performances and Events in general, U35 should be not used (use U31 instead)

[2018-06-28 14:53] #80 closed

[2018-06-28 14:57] #78 closed

[2018-06-28 18:46] rtroncy commented on #75
Does https://github.com/DOREMUS-ANR/marc2rdf/commit/97920e8fb0fa0939aafb52536895614b97666a99 enable to close this issue?

[2018-06-29 12:02] pasqLisena commented on #75
Ah yes! I duplicated in #80

[2018-06-29 13:02] #75 closed

[2018-08-01 15:15] #79 closed

[2018-08-01 16:34] #76 closed

[2018-08-02 09:07] #74 closed

[2018-08-02 09:11] #73 closed

[2018-08-02 09:44] #69 closed

[2018-08-02 09:48] pasqLisena commented on #69
- Stephen Betteridge is now a `choral director`.
  -  `700$4` ==  `250` (chef d'orchestre) +  `200$g` containing  `chef de chœur`  => CHORAL DIRECTOR
  -  `700$4` ==  `250` (chef d'orchestre)  elsewhere => CONDUCTOR
- BBC Singers are now `vocal ensemble`
  - case insensitive check in the textual note solved this

[2018-08-02 14:45] pasqLisena commented on #61
Waiting for answer on Part2

[2018-08-02 17:39] rtroncy commented on #61
cc @ccecconi

[2018-08-03 08:11] #48 closed

[2018-08-03 09:11] pierrechoffe commented on #61
Wouldn't it be easier for your queries to use FRBRoo's R5_has_component between the parent Expression and the children Expressions ? I know I have a tendency to repeat myself, but thinking and designing in terms of Expressions is much clearer than in terms of Works - and in this particular case it was conceived to be so already in the original FRBRoo.

[2018-08-03 09:26] ccecconi commented on #61
Pasquale : I think we should have one couple F14+F22  for each TUM (except for the first one which should be concatenated with the UNI100 record).
Normally we should also add a F15 for each TUM but maybe, to make it a little more simple, we could skip this for now and just keep one corresponding to the UNI100

[2018-08-03 10:03] pierrechoffe commented on #61
Sure, I didn't say it was wrong, just FRBRoo's R5 would be so much simpler. For example, if you want to know the components of Préludes, Livre 1, with F14 you do

F22/Livre1 --realises--> F14/Livre1 --has_component--> F14/Livre1/Prélude1 --is_realised_in--> F22/Livre1/Prélude1

With R5 you do

F22/Livre1 --R5--> F22/Livre1/Prélude1

[2018-08-03 15:13] pasqLisena commented on #61
@pierrechoffe we are using both, R5 between expressions and P148 between works

Normally we should also add a F15 for each TUM but maybe, to make it a little more simple, we could skip this for now and just keep one corresponding to the UNI100

So, I consider this close

[2018-08-03 15:13] #61 closed

[2018-08-03 15:25] pasqLisena commented on #46
Closed in 3ca546fb64a7a8783347adce8e5942cb6742e18c

[2018-08-03 15:25] #46 closed

[2018-08-03 15:29] pasqLisena commented on #36
Currently we take just the first event (`Première édition : Paris, Choudens, 1879.`)

[2018-08-03 15:30] pasqLisena commented on #28
Close for being pending too much

[2018-08-03 15:30] #28 closed

[2018-08-03 15:31] pasqLisena commented on #26
duplicate of #32

[2018-08-03 15:31] #26 closed

[2018-08-03 15:32] pasqLisena commented on #72
Closed in 3d7e653

[2018-08-03 15:32] #72 closed

[2018-09-13 14:39] ccecconi opened #81 "[PP] Audio concerts - Problem of link between performed works and movements of these works"
Rappel pour les concerts audio :
- notices UNI2C = concerts dans son entier
- notices UNI42C = oeuvres jouées
- notices UNI62C = mouvements des oeuvres jouées

La conversion s'est bien passée pour les notices UNI42C qui ne sont pas reliées à une notice fille UNI62C.
Mais pour celles reliées à une ou plusieurs UNI62C, les liens se sont  mal faits.

Exemple, concert du 13 janvier 2011 (UNI2C = n° 09

[2018-09-13 14:43] ccecconi commented on #81
De plus, la M42 correpondant à l'oeuvre jouée (UNI42C "Concerto pour violon") n'est pas liée à la M46 set of tracks correspondante.
http://data.doremus.org/manifestation/ef5e1651-83c4-3b86-9089-10c465da04fa

Le lien entre les deux devrait être :
M46 Set of tracks "Concerto pour violon" _U51 is partial or full recording of_ M43 Performed Expression "Concerto pour violon"

[2018-09-13 15:00] ccecconi opened #82 "[PP] Works - Problem with the function of the creators of "Trois poèmes de Stéphane Mallarmé""
There is a mistake in the creators mentioned in the F22 Self.-C. Expr. called "Trois poèmes de Stéphane Mallarmé".
http://data.doremus.org/expression/c8eea88f-c76d-3c28-a703-f146aa761a19

In the Aloes record, it's written that  :
- Ravel is the composer
- Mallarmé is the author

But, in the RDF record, Mallarmé doesn't appear and Ravel is known as a librettist.
http://data.doremus.org/event/62b585

[2018-09-13 15:12] ccecconi opened #83 "[PP] Euterpe - Name of the artists"
In the data coming from Euterpe, sometimes the name and the function of an artist is indicated and, sometimes, only its function is known. Even if every information is in the original datasets.

Example of a M27 Foreseen Individual Performance with a function but without a name :
http://data.doremus.org/performance/85123fb0-e6d4-3673-a3fb-80943399d4f4/5

In the same concert, example of a M27 Fores

[2018-09-13 15:22] ccecconi opened #84 "[PP] Euterpe - problem with identifier"
I didn't know that, in Euterpe, a given identifier could be use for different types of entities : artists, works and events.... Because of that, there is some mistakes in the data.

For example, Serge Gainsbourg is linked with a harpsichord performance :
F28 Expr. Creation : http://data.doremus.org/event/e2dfd382-c5fc-35a2-b6ee-844ef406ce7a
linked to this one :
http://data.doremus.org/expression/c

[2018-09-13 15:51] ccecconi opened #85 "[PP] Video - Performance Condition"
Comme pour les concerts audio, indiquer que la captation a eu lieu (avec le référentiel dédié) :
- en intérieur
- dans les conditions du direct
- en public
--> F31 Performance _U89 occured in performance conditions_ M55 Conditions of performance
(Cf. ligne 91 du mapping des concerts audio. )

Exemple d'une performance où cela n'a pas été fait de la même manière que pour les concerts audio :
http:/

[2018-09-13 16:30] ccecconi opened #86 "[PP] Audio Concerts - "M19 categorization" en triple"
Dans la conversion des concerts audio, les descripteurs (610) ont été convertis en double, voir en triple :
mus:U19_is_categorized_as

Exemple :
F31 Performance : http://data.doremus.org/performance/1a7a7cc9-4e56-3a42-9b39-27b6573d1333
M43 Performed Expression : http://data.doremus.org/expression/f1290d5d-5f54-3d67-a03b-9931e36dc823

[2018-09-13 16:40] ccecconi opened #87 "[PP] Audio Concerts - "time intervall" en triple"
Dans les concerts audio, "time:hasBeginning" est souvent répété.
Exemple : http://data.doremus.org/event/c371df4f-86d6-39b3-acfc-1682a2b101e5/time

[2018-09-13 17:49] ccecconi opened #88 "[PP] Audio & Video Concerts - Structure des F25 Performance Plan"
Il y a eu une erreur dans le mapping sur la manière d'implémenter les F25 Performance Plan dans les concerts audio et vidéo.

Il est normal que le F25 Performance Plan de la F31 Performance soit relié à toutes les oeuvres jouées durant le concert.

Mais les parties de concert  (M42 Performed Expression Creation) devraient être reliées à un F25 Performance Plan qui liste uniquement l'oeuvre jouée d

[2018-09-13 18:23] ccecconi opened #89 "[PP] Lieux dans des lieux"
Les lieux ne sont plus emboîtés les uns dans les autres (ex : L'ampithéâtre faisant partie de la Cité de la musique). Est-ce normal ?

Ex : Cité de la musique : http://data.doremus.org/place/a54c7c26-ed3e-3312-87ae-3324614d454a

[2018-09-13 18:27] ccecconi commented on #88
Merci Pierre pour ta correction. J'avais effectivement lu un peu vite mon schéma.... Nous avions décidé de prendre R5i is component of

[2018-09-13 18:29] pierrechoffe commented on #88
La 1ère solution fonctionne et, bien que simplificatrice, devrait être la solution par défaut. La 2e est intéressante si l'on a le moyen de faire un mapping différencié.

[2018-09-14 08:18] ccecconi commented on #84
Here is the xml code of a record :
 <evenement>
            <etablissement>Cité de la musique</etablissement>
            <lieu>Salle des concerts</lieu>
            <id>12990</id>
            <titre_ligne1>Baptiste Trotignon &amp; Bojan Z / Marc Copland &amp; Bill Carrothers</titre_ligne1>
            <titre_ligne2 />
            <representations />
            <activites>
                <activi

[2018-09-17 09:37] #81 closed

[2018-09-17 09:43] pasqLisena commented on #88
Ok, I go for solution n.1

[2018-09-17 09:43] #88 closed

[2018-09-17 09:53] pasqLisena commented on #89
I need more info for checking this :) which record you are speaking about?

[2018-09-17 10:00] pasqLisena commented on #87
This will disappear on next parsing.

[2018-09-17 10:00] #87 closed

[2018-09-17 10:08] #85 closed

[2018-09-17 10:08] pasqLisena commented on #86
closed in 2f1da5cb23fba2204321664258f123edb65131eb

[2018-09-17 10:08] #86 closed

[2018-09-17 11:58] #82 closed

[2018-09-17 12:39] pasqLisena commented on #84
moved to https://github.com/DOREMUS-ANR/euterpe-converter/issues/7

[2018-09-17 12:39] #84 closed

[2018-09-17 12:40] pasqLisena commented on #83
moved to https://github.com/DOREMUS-ANR/euterpe-converter/issues/8

[2018-09-17 12:40] #83 closed

[2018-09-17 13:27] ccecconi commented on #89
For example, in the following foreseen concert, we can see that the "Grande Salle" doesn't "fall within" the Philharmonie : http://data.doremus.org/performance/5f2a7d29-3758-3297-bbd1-0ffb27bb9e93

The mapping of the foreseen performances indicates how to find which place is in which other place. Except for the ones of this list : https://docs.google.com/spreadsheets/d/130yI9C2_8EUc1E9dXcH2eZPl2U9

[2018-09-17 13:32] ccecconi opened #90 "[PP] Lieu Philharmonie de Paris"
Attention, tu as mis un lien "same as" entre Philharmonie de Paris et Cité de la musique. Ce n'est pas tout à fait juste.

Cela fait qu'un concert tel que celui-ci est indiqué comme ayant eu lieu à la Philharmonie, alors qu'en 2003, elle n'existait pas encore : http://data.doremus.org/performance/42c4a85b-20cc-3f65-a34e-70a78424f59f

La **collectivité Philharmonie** (ou, de son vrai nom "Cité de l

[2018-09-17 13:37] ccecconi commented on #90
Il faudrait conserver le bâtiment tel qu'il est indiqué dans les concerts (cf. mapping des vidéo et des audio, l. 60 à l.62).
Comme on le voit dans l'évenement d'enregistrement, le concert cité ci-dessus a eu lieu dans le bâtiment de la Cité de la musique, dans la salle des concerts (qui se trouve dans la Cité de la musique)
http://data.doremus.org/event/2d9e0831-edff-307f-9681-83a55ccd8876

[2018-09-17 14:04] pasqLisena commented on #89
If it is a problem of euterpe, I just fixed it [here](https://github.com/DOREMUS-ANR/euterpe-converter/commit/c1d471f1a449c6c7093516473b028c2ba821c91e).

[2018-09-17 14:31] pasqLisena opened #91 "F22 as arrangements"
Il faut impérativement mieux décrire les F22 correspondant à de nouvelles F14 dans le cas d'arrangements et autres dérivations :
- [x] utiliser la propriété `F22 Self-Contained Expression U71 has uniform music title  E35 Title`  pour donner le titre de l'oeuvre dérivée en reprenant la zone `144` complète, notamment les `$l` et `$m` qui permettent de distinguer la F22/ F14 des autres F22/F14 qui so

[2018-09-17 15:14] pasqLisena commented on #90
Data validity during the time is out the scope of the project :)

In the whole dataset we represent "physical places" (a building, a city, a country) going beyond the "label" which those places have/had in a specific point in time.

Example: now _Leiningrad_ has another name
http://data.doremus.org/performance/9147072c-97d6-3753-91be-c7f0a5bcc2b2

[2018-09-17 15:14] #90 closed

[2018-09-17 16:07] #91 closed

[2018-09-18 13:46] rtroncy opened #92 "[BnF] Notices DAV et gestion des peuples (alignement avec RAMEAU)"
From Françoise:

_Lorsque j'ai fait la relecture des notices DAV, je n'ai pas trouvé M43 Performed Expression U64 has cultural context M40 Context dans la conversion de la notice 42727181
Il y avait bien un élément M40 Context contenant la chaîne de caractères "Aïnous" en relation avec le Japon, mais pas de lien avec le peuple dans RAMEAU.
Mais peut-être cela a-t-il été modifié depuis._

_Concerna